[2015-06-30 19:58] ide opened #1 "Likely typo?"
From reading the code: `playerError = @"video_not)found";`

[2015-07-01 04:50] #1 closed

[2015-07-01 04:50] paramaggarwal commented on #1
Haha, thanks @ide. :)

[2015-07-28 16:44] tolu360 opened #2 "RCTViewManager.h file not found"
Hello,

On installing your library, I came up against this error - `RCTViewManager.h file not found` and my project is not able to build. Please what step of the installation process do you think I missed or what could be wrong? I am on v 0.8.0

Thanks.

[2015-07-28 17:56] paramaggarwal commented on #2
Not completely sure. That file is in RN itself... Could you verify it is part of your project?

[2015-07-28 21:09] tolu360 commented on #2
Yes I can confirm the file is in `React.xcodeproj/React/Views`. Perhaps I would try to update your Example project to 0.8.0 and see if it works, just to be sure the library is not broken in the version.

[2015-08-03 16:38] jevakallio commented on #2
Experiencing the same issue, on React Native 0.9.0-rc. The `RCTViewManager.h` header file exists and is successfully imported from a number of other third-party plugins.

I managed to solve the problem by setting the User Header Search Paths config for `RCTYouTube.xcodeproj` as suggested in a similar issue https://github.com/corymsmith/react-native-icons/issues/6.

![Screen shot](https://cloud.git

[2015-08-04 00:09] tolu360 commented on #2
Thanks for sharing that @jevakallio, would give it a try.

[2015-08-04 03:59] #2 closed

[2015-08-04 04:01] paramaggarwal commented on #2
Published to npm as `v0.1.1`.

[2015-08-04 08:12] jevakallio opened #4 "RCTYoutubeManager is returning nil for its methodQueue, which is not permitted."
Since React Native 0.7.0, I am seeing the error `RCTYoutubeManager is returning nil for its methodQueue, which is not permitted`:
![screen shot 2015-08-04 at 08 59 50](https://cloud.githubusercontent.com/assets/1203949/9056135/afa09fe8-3a88-11e5-892f-a8faf819f522.png)

The issue is basically the same as https://github.com/brentvatne/react-native-video/issues/69.

PR incoming.

[2015-08-04 08:31] jevakallio opened #6 "Incompatible with React Native >=0.7.1: More than one plugin attempted to publish the same registration name, `onError`"
The application won't start due to the error, as in title:
![screen shot 2015-08-03 at 17 43 58](https://cloud.githubusercontent.com/assets/1203949/9043041/9bbf77a2-3a0a-11e5-92c5-589711d53dd0.png)

This is because react native `RCTImageViewManager` already publishes an event `onError`, for discussion see: https://github.com/facebook/react-native/issues/1952

I have a solution to this in my fork,

[2015-08-04 09:35] jevakallio commented on #6
Submitted PR to fix this issue.

Based on empirical testing, merging https://github.com/paramaggarwal/react-native-youtube/pull/5 and https://github.com/paramaggarwal/react-native-youtube/pull/7 make this component compatible at least up to React Native 0.9.

[2015-08-04 16:06] #4 closed

[2015-08-04 16:07] paramaggarwal commented on #6
Thanks a lot @jevakallio! Merged both PRs.

[2015-08-04 16:07] #6 closed

[2015-08-04 16:10] paramaggarwal commented on #4
Thanks! Published to npm as `v0.1.3`.

[2015-08-19 09:30] shaundon opened #8 "React Documentation"
Hi,

Great work on this plugin, it's brill! I'm about to attempt writing a similar React component (a wrapper for the [OpenTok iOS SDK](https://tokbox.com/developer/sdks/ios/) for video chat). I've been looking through your code as there are lots of similarities with what I'm trying to do, like async events, native UI needing to be exposed, and so on.

I was wondering, do you have any links to res

[2015-08-19 14:16] paramaggarwal commented on #8
Thanks @shaundon. This code is heavily built off @brentvatne's `react-native-video` component. https://github.com/brentvatne/react-native-video

[2015-08-20 04:43] alejomendoza opened #9 "Update to V.0.10"
I get this error when updating to the latest react-native V.0.10

'customDirectEventTypes must return an array, but RCTYouTubeManager returned __NSDictionaryI'

[2015-08-20 05:48] paramaggarwal commented on #9
Ah yes, I had to change that too when I was trying out the new `0.10-rc`. You need to make it simply an array like this:

[code]

[2015-08-20 05:54] alejomendoza commented on #9
Thank you! @paramaggarwal, that solved that issue. Also with the new version I think you would have to update how to require the modules. I get the errors Unable to resolve module StyleSheetPropType in the packager.
![packager](https://cloud.githubusercontent.com/assets/5351127/9376674/030a26aa-46d6-11e5-845e-4ef17b9cfec9.png)

[2015-08-23 09:56] olivierlesnicki opened #10 "Expose playerVars"
Such as rel, controls, etc...
https://developers.google.com/youtube/player_parameters?hl=en

[2015-08-24 09:41] paramaggarwal commented on #10
Yes, the internal version has it. I'll update the OSS version soon.

[2015-08-24 10:49] olivierlesnicki commented on #10
Nice one :)

[2015-08-26 05:51] paramaggarwal commented on #10
Fixed! Please try out `v0.2.0` from npm.
https://github.com/paramaggarwal/react-native-youtube/releases/tag/v0.2.0

[2015-08-26 05:53] paramaggarwal commented on #9
Please try out `v0.2.0` from npm: https://github.com/paramaggarwal/react-native-youtube/releases/tag/v0.2.0 and let me know if you still face issue.

Regarding supporting RN 0.10.0 - not sure how to support it in a backward compatible way...

[2015-08-27 13:43] #10 closed

[2015-08-27 13:43] #8 closed

[2015-09-02 21:10] alejomendoza commented on #9
hmm, I still face that issue with v0.2.0, I think it would be better for you to support react native's latest version

[2015-09-02 21:14] alejomendoza commented on #9
https://github.com/alejomendoza/react-native-youtube/commit/f99204786cc529ea32a0e3f280b0fb232b7a30a0

[2015-09-03 05:25] paramaggarwal commented on #9
Yes, let's make this change now that 0.10 is stable.

[2015-09-03 05:28] #9 closed

[2015-09-03 15:24] alejomendoza opened #12 "String literal must be prefixed by '@'"
![screen shot 2015-09-03 at 10 22 22 am](https://cloud.githubusercontent.com/assets/5351127/9662613/e3694730-5225-11e5-8738-f0e416f9b302.png)

[2015-09-03 15:26] alejomendoza opened #13 "Use of undeclared identifier 'RNYouTubeEventReady'"
![screen shot 2015-09-03 at 10 22 57 am](https://cloud.githubusercontent.com/assets/5351127/9662653/f6827350-5225-11e5-8ed7-f0902100f30a.png)

[2015-09-04 03:50] paramaggarwal commented on #13
:( My latest changes broke this... In RN 0.10, this will just be `@"youtubeReady"` etc. right?

[2015-09-04 03:51] paramaggarwal commented on #12
So sorry, I made the changes directly on Github, hence ended up breaking...

[2015-09-04 03:51] #12 closed

[2015-09-04 03:59] paramaggarwal commented on #13
Fixed: https://github.com/paramaggarwal/react-native-youtube/commit/b3fa4626dd77884ef354f778bf6b07d86b00ee76

[2015-09-04 03:59] #13 closed

[2015-09-04 05:12] alejomendoza opened #14 "Export seekToSeconds method"
I've been trying to do this but still I haven't figured out how to make it work.

on my RCTYouTubeManager.m:
[code]

on my react native file:
[code]

[2015-09-04 05:19] alejomendoza opened #15 "Add on playTime callback"
I was able to make this one work, my idea was to get the current time of the video while it is playing. Here's how I did it:

on RCTYouTubeManager.m added the event onYoutubePlayTime
[code]
on RCTYouTube.m added
[code]
on YouTube.ios.js added
[code]
on my app component:
[code]

[2015-09-04 14:26] paramaggarwal commented on #15
Nice. Two things:

1. `onPlayTime` doesn't sound very good. How about `onProgress`?
2. You can pass float values directly by converting to NSNumber like this:
[code]

[2015-09-04 14:37] alejomendoza commented on #15
nice! yes that looks so much better. onProgress is better too.

[2015-09-04 14:47] paramaggarwal commented on #14
In the manager, you have to pull out the view from the UI registry, and from React you'll have to pass the React tag.

[code]

[code]

[2015-09-04 15:33] alejomendoza commented on #14
Ah thank you!! I was able to make it work, so I had a few errors at the beginning but I was able to solve:

I had to change to this on RCTYouTubeManager your code to make it work:

[code]

Then I had to create a ref on my react youtube tag because I'm using a slider to trigger the seek functionality:

[code]

I still don't understand pretty well the UiManager stuff but I'll get there. (complete ob

[2015-09-04 15:51] paramaggarwal commented on #14
Yes, will keep both the issues open so these can be included in the project.

[2015-09-05 20:21] jbail opened #16 "No Callback Events Firing"
I'm not seeing any callback events fired. I am using React Native version "0.11.0-rc"

Any pointers or places to look first?

[2015-09-05 23:20] alejomendoza opened #17 "Add setVolume"
I was playing around with this today, unfortunately I couldn't make it work.

[code]

[2015-09-06 04:58] paramaggarwal commented on #17
You have to pass `enablejsapi=1` to the player in the very initial parameters. (ref: [API](https://developers.google.com/youtube/iframe_api_reference))

[2015-09-06 04:59] paramaggarwal commented on #16
Probably an event name mismatch between native and JS. In JS, can you inspect `React.NativeModules.UIManager.customDirectEventTypes` and verify the event name mappings?

[2015-09-06 17:20] alejomendoza commented on #17
I tried adding it here in YouTube.ios.js but it didn't work.

[code]

[2015-09-07 02:20] jenbennings opened #18 "Example stuck on loader"
I'm able to get a normal react-native project running, but when I attempt to load the example project Xcode escapes and highlights line 16 on `main.m`.

<img width="1440" alt="screen shot 2015-09-06 at 7 17 42 pm" src="https://cloud.githubusercontent.com/assets/3468612/9708115/0351e3e2-54cc-11e5-973d-f89d8282a5c3.png">

[2015-09-07 02:32] jenbennings commented on #18
[code]

[2015-09-07 02:33] paramaggarwal commented on #18
This is probably because I updated the library to support RN `0.10`, but the example is still using `0.9`.

[2015-09-07 12:37] #18 closed

[2015-09-18 07:35] alvinwoon opened #20 "ios 9 build error"
Returns signal SIGABRT termination.

2015-09-18 15:34:20.698 App[27540:1244610] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'customDirectEventTypes must return an array, but RCTYouTubeManager returned __NSDictionaryI'

[2015-09-18 13:18] Mokto commented on #20
+1 ;)

[2015-09-18 13:50] Mokto commented on #20
+1. Also happening on iphone 5c (ios 8.4) and El Capitan.

[2015-09-18 19:25] olivierlesnicki commented on #10
An example of how to use this? @paramaggarwal

[2015-09-19 02:00] paramaggarwal commented on #20
This was fixed but not pushed to npm. Just did that now: `v0.3.0`.

[2015-09-19 02:00] #20 closed

[2015-09-19 02:01] #16 closed

[2015-09-20 22:32] Mokto opened #21 "Add possibility to set custom player variables (modestbranding, controls, showinfo)"
Hi,

It would be nice to be able to add players parameters like controls, modestbranding and showinfo.

Would it be possible ?

[2015-09-26 02:29] Mokto opened #22 "Android support"
Hi,

Is there any progression on Android support ?

I might start PR soon if not ;)

[2015-09-27 17:16] #15 closed

[2015-09-27 17:17] #21 closed

[2015-09-27 17:18] paramaggarwal commented on #22
No progression from my side. Yes, feel free!

[2015-09-27 20:43] Mokto opened #26 "Buffering new quality on resize"
This one is a tricky.

When I do resize my Youtube Video (ie to a bigger one), the quality is automatically switching to HD and the video stops as it loads the new quality.

I would like to make a smooth transition (the video should not be buffering).

I would be happy to make a PR to solve this, but do you know any clue ?

[2015-10-12 02:23] paramaggarwal commented on #14
Merged in #28.

[2015-10-12 02:23] #14 closed

[2015-10-16 03:22] adrianha opened #31 "Volume issues when phone on vibrate mode"
Hello, I'm facing a problem when my phone is on vibrate mode then the youtube component doesnt make sound though i raised the volume up, the sound was going up when i change to normal mode. But when i used official youtube application on vibrate mode its still produce sound. How to fix this?
Thanks

[2015-10-16 07:28] Mokto commented on #31
+1

[2015-10-17 06:00] paramaggarwal commented on #31
The official player uses a fully custom player as far as I know, which the HTML5 player in the webview that this uses goes via iOS's APIs which will by default mute. This is standard behaviour across system and you should try to stick to it. It makes sense for the YouTube app because its primary purpose is playing views itself.

If you'd still like to override this behaviour, you could possibly ex

[2015-10-18 22:39] MadRabbit opened #32 "Project doesn't build"
Hey Param, thanks for an awesome package! Unfortunately I'm having some issues with adding the `RCTYouTube.xcodeproj` into my app's project.

I think I did all the things exactly as your readme says, I added the your project to the list of libraries and then added the library to the build phase list. But when I hit "Build" in xcode it falls out with the following error

![screen_shot_2015-10-19_at

[2015-10-18 22:44] MadRabbit commented on #32
Ah, i think i've found it. I picked the project from my own clone, where i should use the one that is in the `node_modules/react-native-youtube` as the project is set to use relative paths it couldn't resolve the header's location. I'll patch the docco

[2015-10-18 22:44] #32 closed

[2015-10-19 16:11] adrianha opened #34 "Youtube Video Restricted"
Is it possible to play video from VEVO? because i got this issue.. If i pass the origin property with "https://www.youtube.com/", it is still not working.. Any solutions? @paramaggarwal

![vevorestricted](https://cloud.githubusercontent.com/assets/5382429/10583338/904b894a-76b6-11e5-87aa-033417d64b44.png)

[2015-10-19 16:13] Mokto commented on #34
@adrianha Some videos are restricted. What is the youtube video id please ?

[2015-10-19 16:48] adrianha commented on #34
try this @Mokto 6GUm5g8SG4o or this xo1VInw-SKc...
Thanks

[2015-10-19 16:58] Mokto commented on #34
It's weird, both works in my apps (both mobile and web).

I did use origin='http://www.songpeek.com'.

Is it changing things for you by any chance ?

[2015-10-20 04:16] adrianha commented on #34
I've used 'http://www.songpeek.com' as the origin, the video still got an error..
Heres my code:
<YouTube
          ref="youtubePlayer"
          videoId={this.props.videoId} // The YouTube video ID
          play={false}           // control playback of video with true/false
          hidden={!this.state.isReady}        // control visiblity of the entire view
          playsInline={true}    // co

[2015-10-20 04:19] adrianha commented on #34
@Mokto

[2015-10-20 07:17] Mokto commented on #34
Oh yes, you are right, it must be because of that...

[2015-10-20 07:39] adrianha commented on #34
any solutions @Mokto ? :cry:

[2015-10-20 07:40] Mokto commented on #34
No it's sad but in my experience, some videos are just not working in some countries.

The weird thing is that I usually get "The video is not available in your country".

Maybe someone else could help you better than me !

[2015-10-22 17:03] adrianha commented on #34
@Mokto do u have sample project that can run those videos with videoId 6GUm5g8SG4o or xo1VInw-SKc?
I'm still curious about this problem...

[2015-11-03 05:23] bozzmob opened #35 "Android port of the youtube component?"
I would be glad to help to have a same port to android. @paramaggarwal Planning to start one?

[2015-11-03 06:22] paramaggarwal commented on #35
This repo does need it. Open to PRs!

[2015-11-09 03:18] alvinwoon opened #36 "Unable to resolve module ReactNativeViewAttributes error"
on latest RN - 0.14.1

[2015-11-09 15:50] shishircc commented on #35
I also need an android version. I will be working on it soon. @bozzmob do you want to divide this work ?

What kind of work would this involve? Google has an android version of youtube player api which we can wrap inside a react native module (https://github.com/youtube/yt-android-player , https://developers.google.com/youtube/android/player ).

My only concern with the initial documentation of th

[2015-11-09 18:53] bozzmob commented on #35
@shishircc  Yes. Sure. We can start the work. I have developed a Native Youtube Component and used it as a plug-in in one of my earlier Cordova project. Let me know if it helps.

[2015-11-10 06:23] holmesal commented on #36
Looks like this was fixed in 0f7419afedd4e189e090f1e01e31f160803c18cd, but I don't think that fix was pushed to npm. Until that's fixed, pointing package.json at the master branch of this repo seems to work.

[2015-11-10 06:48] paramaggarwal commented on #36
Sorry about that. Published `react-native-youtube@0.5.0` to npm.

[2015-11-10 06:48] #36 closed

[2015-11-10 06:48] paramaggarwal commented on #22
Closing as discussion continuing in #35.

[2015-11-10 06:48] #22 closed

[2015-11-10 06:56] alvinwoon commented on #36
Thanks man. Appreciate it.

[2015-11-11 06:26] mariostallone commented on #35
The implementation would be a little tricky as there are caveats to how the youtube sdk works on Android, specifically when there's more than one video on screen... Playing a single video on screen would work fine...

[2015-11-11 13:57] Mokto commented on #35
+1. You also cannot add another component on top of YouTube video player.

[2015-11-11 16:04] paramaggarwal commented on #35
I believe these caveats would be ok to live with in the beginning. I believe the iOS one also plays only one video at a time, and that you cannot add subviews to it.

[2015-11-11 18:03] shishircc commented on #35
@bozzmob , if you have a cordova version, maybe this https://github.com/axemclion/react-native-cordova-plugin can be used to just use it directly in the react-native . Otherwise we can wrap the java implementation into a module.

Some of the implementations work using the youtube app on android. I guess that is reasonable assumption.

How about starting work on this next week Monday ?

[2015-11-12 03:30] bozzmob commented on #35
@shishircc  I am AFK for the next 4 days. I am travelling. Yes, we can try the cordova version first. I can push some code I have soon. But, since the iOS version is build using native way, shall we also start with that? (Just a thought)

Has anyone tried cordova plugins v/s react native way of writing Java code? We need performance analysis.

[2015-11-14 14:38] BilalBudhani opened #37 "Video doesn't play after upgrading to React Native 0.14.2"
After upgrading to `"react-native": "0.14.2"` this component stopped working. Now it just shows blank black screen and video doesn't play. Also, to mark it doesn't throw any error in runtime.

[2015-11-30 04:18] sebglazebrook commented on #37
+1

[2015-12-04 22:13] mikedizon commented on #35
+1

[2015-12-05 20:16] mikedizon commented on #35
@bozzmob @shishircc Hey guys, have either of you had any luck with Cordova?

[2015-12-06 13:17] razat2013 commented on #35
Hey guys, Is anybody working for the android port for the youtube component?

[2015-12-06 13:26] shishircc commented on #35
Hi all,

I am presently working on iOS version of my app. I would return to Android
version in a month.

As I suggested, you can try using these two together
1. https://github.com/axemclion/react-native-cordova-plugin
2.  (https://github.com/Glitchbone/CordovaYoutubeVideoPlayer) or  (
https://github.com/RemcoB00/cordova-phonegap_youtube_player_api_android)

as a quick fix to implement the youtube

[2015-12-06 19:22] karannakai commented on #35
I've been trying to implement this last night and this is the main issue right now - The YouTubePlayerView can only be used in a class that extends YouTubeBaseActivity which means I can't pass directly to the ViewManager. I can make an activity that extends YouTubeBaseActivity and loads the YouTubePlayerView but it seems impossible to be able to send this View to the ViewManager.

Any thoughts?

[2015-12-06 19:55] mikedizon commented on #35
I'll be working on the Android port this week, or at least experimenting.  The YouTube iOS Player Helper uses the YT's iframe API (https://developers.google.com/youtube/iframe_api_reference?hl=en)

For this to work, it seems that one would have to load the contents of the YTPlayerView-iframe-player.html file into an Android WebView (http://developer.android.com/reference/android/webkit/WebView.htm

[2015-12-07 03:38] bozzmob commented on #35
@mikedizon @karannakai Give me some time. By end of the day, I will commit whatever code I had used earlier for my cordova project. We can all fork it and start working on it.

Oh! yes as @mikedizon said the cordova approach won't work I guess. As there is a WebView involved.
But, we can have a look at-
https://github.com/rgaidot/react-cordova
https://github.com/axemclion/react-native-cordova-plug

[2015-12-07 04:16] mikedizon commented on #35
@bozzmob the goal is to keep the design of the android version as close as possible to the iOS version.

The issue I mentioned above references a component someone wrote for WebView. I imagine that the design for this YouTube player can borrow some inspiration from there.

https://github.com/lucasferreira/react-native-webview-android

[2015-12-07 16:49] bozzmob commented on #35
@mikedizon Agreed. Just saying, this was the [Youtube Plugin](https://github.com/Glitchbone/CordovaYoutubeVideoPlayer) of Cordova I had used. Checked all my old codes.

[2015-12-08 15:41] vanBrunneren opened #38 "Build fails with React Native 0.16"
Hi

I tried your plugin with RN 0.16. In most cases Xcode's build process failed silently as soon as I implemented this plugin as shown in the README. Furthermore I saw yo're using RCTSparseArray.h in the RCTYouTubeManager.m as I know this is replaced by NSDictionary in version 0.16.

Are you planing to upgrade your project or should I look for another solution?

Thanks for an Answer and your plug

[2015-12-11 05:06] alvinwoon commented on #38
+1

[2015-12-11 16:04] vanBrunneren commented on #38
I just managed to play a youtube video with a WebView. Just did it like this:

[code]

If you don't want to make something complicated and just want to playing a video in your app you're going great with my solution :smirk:

cheers

[2015-12-15 10:56] richarddewit commented on #38
@vanBrunneren You lose the ability to autoplay though :<

[2015-12-15 11:38] vanBrunneren commented on #38
@richarddewit yes that's true, but not really needed in my case

there are several answers why this isn't possible out of the box.
maybe you want to have a look at: http://stackoverflow.com/questions/8141652/youtube-embedded-video-autoplay-feature-not-working-in-iphone

why do you want to autoplay youtube videos? Maybe (no not maybe, there is :smile: ) another solution for doing this.
Do you tried

[2015-12-15 11:46] alvinwoon commented on #38
You can autoplay with url parameter but it would be nice to have a working,
native player as always :D

On Tue, Dec 15, 2015, 19:38 Pascal Brunner <notifications@github.com> wrote:

[2015-12-15 12:19] richarddewit commented on #38
@alvinwoon - No that doesn't work on iOS sadly

[2015-12-15 13:05] richarddewit commented on #38
@vanBrunneren - What I wanted is to display a placeholder image, then when clicked, replaces it with the player, which then starts playing, now requiring 2 clicks from the user.

I have tried using JavaScript, but that way I have to put an iframe in the `html` attribute of the WebView because it needs an `id` to be able to communicate with the API. That way the content is no longer 'filling' the w

[2015-12-20 23:18] linh81 commented on #38
+1

[2015-12-31 15:28] paramaggarwal commented on #38
Open for PRs! I have not dabbled with RN 0.16.0 yet...

[2016-01-07 07:59] robtg4 commented on #38
this really need to get fixed! too important of a component to just sit! :)

[2016-01-11 05:12] paramaggarwal commented on #37
Fixed in 98c56936b0cd197c2fe633ff02a5f4e94d6fc6df thanks to @jaygarcia and available in `react-native-youtube@0.6.0`.

[2016-01-11 05:12] #37 closed

[2016-01-11 05:12] paramaggarwal commented on #38
Fixed in 98c56936b0cd197c2fe633ff02a5f4e94d6fc6df thanks to @jaygarcia and available in `react-native-youtube@0.6.0`.

[2016-01-11 05:12] #38 closed

[2016-01-23 21:02] balramkhichar commented on #35
@bozzmob any update on android port?

[2016-01-24 15:21] bozzmob commented on #35
Sorry @balramkhichar I have not got enough time to work on the port. But, I have given a reference to the cordova project that I had used earlier. It can be used as a great starting point to build the native bridge/plugin.

[2016-01-27 20:08] gauravsapiens opened #40 "Listening to onFullScreenExit event"
I want to exit youtube player whenever full screen is exited. However, for that I need to listen to `onFullScreenExit` event. Is there any way I could do it?

[2016-01-29 22:17] ermannos opened #41 "Disable related content"
At the end of the playback, related content is shown.
Is there a way to disable it?

[2016-02-11 09:30] BastienAlvez commented on #35
Can we use the cordova plugin inside react native app ?

[2016-02-12 00:54] shishircc commented on #35
In recent react native, web view is supported in Android. It can be an easy way to show a youtube video by using iframe. Just in case you have not considered that.

[2016-02-12 09:21] paramaggarwal commented on #35
Yes, @shishircc - I think the approach forward for a generic YouTube component for iOS and Android would be to use RN's `WebView` component itself.

[2016-02-15 04:09] alejomendoza commented on #35
+1

[2016-02-15 04:12] alejomendoza commented on #17
You can close this issue @paramaggarwal setting the volume from the api is not possible.

[2016-02-15 05:45] balramkhichar commented on #35
@paramaggarwal I tried putting youtube iframe inside RN's webview but it's doesn't work. All I see is a black screen.

[2016-02-15 09:27] #17 closed

[2016-02-15 16:21] alejomendoza commented on #35
this might help https://github.com/gajus/youtube-player if we can link the webview javascript with react native

[2016-02-18 18:59] promerob opened #42 "I can't find the libRCTYouTube.a file"
Hello! I've installed this component on my project and was unable to complete step 4 of the installation guide. After trying to run to the example project, it continued to fail. I tried opening the file from Xcode to see the directory but failed. Am I doing something wrong?

[2016-02-19 20:49] promerob commented on #42
Closing this, somehow after retrying everything, upgrading everything, it worked.

[2016-02-19 20:49] #42 closed

[2016-02-26 01:54] ericraio commented on #35
@alejomendoza were you able to get this running on Android?

[2016-03-05 17:16] alejomendoza commented on #35
What I found hacking around https://github.com/alinz/react-native-webview-bridge and a javascript youtube player is that events coming from injected javascript won't work. Otherwise using Webview to load the youtube frame and controlling javascript from react native would be a great cross platform solution. For now I would have to stick with using native libraries.

[2016-03-06 20:23] timscott opened #43 "Never Ready"
I followed the installation instructions exactly, and used took ```index.ios.js``` from the [example](https://github.com/paramaggarwal/react-native-youtube/blob/master/Example/index.ios.js). When I run the app everything renders, but ```onReady``` never fires. I'm using react-native 0.21.0. How can I troubleshoot this?

[2016-03-08 03:36] paramaggarwal commented on #43
Could you check by adding a breakpoint in this function here: [RCTYouTube.m#L102-L113](https://github.com/paramaggarwal/react-native-youtube/blob/master/RCTYouTube.m#L102-L113)

If the breakpoint is called, the issue is that RN is not able to deliver the event to JS.
If the breakpoint is not called, the issue is somewhere in the Youtube webview not calling delegate methods.

[2016-03-08 03:37] timscott commented on #43
I checked that. The breakpoint was not called.

[2016-03-10 07:43] RomanKomar commented on #43
The same problem

[2016-03-20 22:56] smlee commented on #43
I have the same issue. I also get "Native component for myProjectName does not exist" warning.

[2016-03-22 00:53] faceyspacey opened #44 "how to implement custom player controls?"
I'd like to add this feature, or perhaps it's something I do on top of the component. I'd assume you hide the controls, set it to inline. and then use the `onProgress` handler and `seekTo` method from your custom control bar. I don't see a `play` or `pause` method, but I assume I can access it at something like `NativeModules.YouTubeManager.play/pause()`?

It seems I could mostly implement this in

[2016-03-22 01:04] faceyspacey commented on #44
Also, judging by this:

https://github.com/paramaggarwal/react-native-youtube/blob/dd87b1e7e2478d5fce656ed17e2fa9e211961316/RCTYouTubeManager.m#L61

it seems that only `seekTo` has been implemented.

Not any of the other methods listed here:

https://developers.google.com/youtube/iframe_api_reference#Queueing_Functions

I assume, for example, implementing `playVideo` would be just:

[code]

Let me

[2016-03-22 07:33] faceyspacey commented on #44
...i guess `play={this.state.isPlaying}` is the way to go for pause/play as you have in your example:

https://github.com/paramaggarwal/react-native-youtube/blob/master/Example/index.ios.js

...that all said, I've always felt like a shared interface should be built for Youtube's iframe player and the HTML5 video player or the react native equivalent: https://github.com/brentvatne/react-native-vide

[2016-03-22 19:38] paramaggarwal commented on #35
I am not actively maintaining this project and am open to handing over the project to someone who can support it on Android also - making it a complete _Youtube for RN_ package.

[2016-03-30 16:49] faceyspacey opened #45 "how to hide the red youtube button?"

[2016-03-30 16:49] faceyspacey opened #46 "what's the best way to go about looping the video?"

[2016-03-31 16:21] paramaggarwal commented on #35
Open Bounty: If you can add good support to this repo for an Android YouTube player, I'll hand over this project to you to own and grow.

[2016-04-09 03:41] skleest commented on #35
Would love to see any progress on this for Android!

[2016-04-25 19:47] gn02394847 commented on #35
Android + 1

[2016-04-25 23:38] gn02394847 commented on #35
solution.
i use this pugin and create hack page.

react-native-webview-android
https://github.com/lucasferreira/react-native-webview-android

hack page.
https://github.com/gn02394847/youtube-embed-page/blob/gh-pages/index.html

 <WebViewAndroid
                    ref="webViewAndroidSample"
                    javaScriptEnabled={true}
                    geolocationEnabled={false}

[2016-05-11 20:00] Mokto commented on #45
Set this as props I think it should be enough :

[2016-05-15 19:57] davidohayon669 commented on #35
+1

[2016-05-16 12:59] Mokto commented on #35
Looking into this soon ;)

[2016-05-16 13:04] Mokto commented on #45
Closing this. Feel free to discuss this here.

[2016-05-16 13:24] Mokto commented on #46
User parameter loop={true} (available in 0.7.1)

[2016-05-16 13:24] #46 closed

[2016-05-16 13:25] #34 closed

[2016-05-16 13:25] Mokto commented on #34
Please ping me if you still need informations about this.

[2016-05-16 13:31] Mokto commented on #44
Hi, sorry but play parameter is enough and more react-compliant.

;)

[2016-05-16 13:31] #44 closed

[2016-05-16 14:35] Mokto commented on #43
Hi guys,

onReady is called in my case.

I added this `onReady={()=>{console.warn('READY');}}` in my YouTube tag and it is called ;)

RN 0.25.1 and react-native-youtube 0.7.1

[2016-05-16 14:37] Mokto commented on #41
Fixed in 0.7.2. Use rel parameter ;)

[2016-05-16 14:37] #41 closed

[2016-05-16 14:40] Mokto commented on #40
No it's not possible yet.

PR are welcome ;)

[2016-05-16 15:01] Mokto commented on #31
Closing this as I added HOW-TO in readme.

[2016-05-16 15:01] #31 closed

[2016-05-17 13:08] eladcandroid commented on #35
+1

[2016-05-18 12:34] adeebbasheer commented on #35
Android + 1

[2016-05-19 16:10] Mokto commented on #35
Android support on it's way ;)

[2016-05-26 07:24] samyakbhuta commented on #45
Even after setting the above value, the Red Youtube buttons still appears.  Below is the complete snippet.

[code]

I tried to apply the same parameters directly, and I can see the Red YouTube button in my browser, as well. Wondering what I am doing wrong. One can see it by following the link https://www.youtube.com/embed/zmIUm1E4OcI?showinfo=0&controls=0&rel=0&modestbranding=1

[2016-05-27 18:10] GeoffreyPlitt opened #52 "Android instructions"
Hi,

How do we run an Android example? Seems to have instructions missing...

[2016-05-27 19:05] Mokto commented on #52
Android is still a work in progress. See #51

[2016-06-02 20:46] Mokto commented on #45
Can you show me a screenshot please ?

[2016-06-02 21:08] faceyspacey commented on #45
ur not gonna be able to hide this button. ur only option is to put something over it, such as ur own play button, or the youtube image for the video and a play button on top of that, etc. ..same with the logo in the bottom right that appears for the first 3 seconds of the video playing. ...i did a lot to try to make this work a while back when i was working on this, and these are the solutions i c

[2016-06-14 23:12] krapspark opened #53 "Example broken"
Hi,

I just checked out the repo and tried to run through the example.
The first `npm install` finishes OK.
But when I open the Xcode project and try to run it webserver complains about missing dependencies.
So I tried `npm install` again and I got bunch of compilation errors the second time around.

Here are the first few errors:

In file included from ../src/validation.cc:15:
../node_modules/nan

[2016-06-16 05:15] adeebbasheer commented on #52
Any progress ?

[2016-06-20 13:16] erikdung commented on #53
Cannot build example!!
![image](https://cloud.githubusercontent.com/assets/5372121/16195461/f55b2b3e-36f9-11e6-8a67-1e04f8664f17.png)
Please help

[2016-06-22 20:55] marister commented on #52
Any estimation on this? Can I help?

[2016-06-22 22:19] maivo opened #54 "How make audio play when in background"
I followed the instructions to enable the background audio:
1)  project->capabilities->background mode to ON and Audio and Airplay
2) add code in AppDelegate.m:
     [[AVAudioSession sharedInstance] setCategory:AVAudioSessionCategoryPlayAndRecord error:&sessionError];
reference: https://github.com/youtube/youtube-ios-player-helper/issues/38

But when I press the home button, the sound stops when t

[2016-06-28 16:42] burnsting commented on #53
Should this still work with RN 0.28? I'm getting a render error when adding the <Youtube /> component. It used to work fine.

[2016-07-04 04:48] SpecialDOS opened #55 "modestBranding option set to true does not hide the youtube logo"
setting this property doesn't seem to change anything. I tried camel case as specified in the readme, and also tried modestbranding all lowercase, neither hides the branding.

Thanks

[2016-07-07 05:10] wski opened #56 "Videos with content restrictions will not load anything."
For example videos from VEVO (similar to slack) will not play on the player. This is somehow bypassed in apps like Discord. It might be possible to implement whatever discord has done to bypass this for a more seamless experience.

I will investigate further and try my best to offer a PR but wanted to open an issue to see if this is something that has already been brought up / addressed.

[2016-07-31 14:41] simonvaucher commented on #54
Playing sound when app is in background is forbidden by YouTube's policy. Yeah, there are apps out there that do it anyway, but that's against multiple terms under the "Prohibitions" section: https://developers.google.com/youtube/terms

[2016-07-31 19:20] Mokto commented on #54
thanks for the answer @simonvaucher ;)

[2016-07-31 19:20] #54 closed

[2016-08-03 10:31] vettukal opened #57 "npm install failed with errors."
I tried to do npm install on the Example dir. It failed with the following log:

[2016-08-11 22:02] mcatmos opened #58 "How to play at fullscreen by default?"
Hello my friends, Im trying to play the videos at fullscreen by default without success.
Is there any workaround to make it?

Thank you so much!

[2016-08-12 01:39] mcatmos commented on #57
Try doing rnpm ;) like the documentation says.

[2016-08-12 01:40] mcatmos commented on #55
Ive got the same issue! :(

[2016-08-12 02:09] SpecialDOS commented on #55
Oh, I figured this out, should have posted an update. Setting modest branding to true does nothing  when showinfo is false, the two are mutually exclusive. When show info is true then setting modestbranding true hides a youtube link that shows up as part of the info bar. Basically, youtube is forcing you to either show the info bar at the top, or the youtube logo bottom right, you can't hide both

[2016-08-12 05:36] vettukal commented on #57
I was trying to run the Example project provided in source. Documentation to run it is:
[code]

Should I do rnpm instead of install here?

[2016-08-12 12:10] savioseb opened #59 "YouTube IOS not working - Warning generated: "type should not be null""
I used this module before with RN v0.24.1 & react-native-youtube v0.6.0.

But I recently updated to RN v0.31.0 & react-native-youtube v0.7.2 and I can't play YouTube Videos anymore in my app.

I'm not sure what I'm doing wrong. Please advice.

This is the warning Screenshot:
![screen shot 2016-08-12 at 5 35 10 pm](https://cloud.githubusercontent.com/assets/698524/17621807/95912d00-60b3-11e6-84b5-e

[2016-08-13 16:14] savioseb opened #60 "Android shows Error"
I wanted to use the same codebase for Android and iOS. I am using 2 different YouTube Players - this one for iOS and [rn-youtube-android](https://github.com/applicaster/rn-youtube-android) for Android.

However, using both in the same RN project shows a warning every time while running the Android version - even though the code never runs into those lines.

The problem becomes even more of an issu

[2016-08-18 20:04] ronnpang1 opened #62 "multiple videos"
can you have multiple videos running on the same component?

[2016-08-19 17:00] smad opened #63 "Build failed with react native 0.31"
When i try to build with RN 0.31
I've got this issue

[code]

I don't know what to do

Thanks

[2016-08-19 23:14] savioseb commented on #63
Use XCode's quick fix - right click over the problem area and apply fix. It should be resolved.

[2016-08-23 21:16] ronnpang1 opened #64 "Error when inflating view"
I am using the current module for react-native-youtube but for android. It works fine until I navigate from  the component that plays the youtube video and then go back to it. I get the following:
![screenshot_2016-08-23-16-38-52 1](https://cloud.githubusercontent.com/assets/4573812/17910061/47a82d96-6955-11e6-9d20-482fa596133c.png)

Can I get any help regarding this issue?

[2016-09-02 11:20] yspychala commented on #63
The XCode's quick fix solves the problem, but I use BuddyBuild with an integrated SDK and the remote build also fails and I think it's for the same reason.

[code]

Is there a way to fix it?

[2016-09-02 14:33] cjmling commented on #35
@Mokto  Any update after 3 months ?

[2016-09-05 07:10] cjmling commented on #60
I wanted to use that rn-youtube-android but getting started instructions are so unclear. If possible can you explain some with better instructions ? Thanks

[2016-09-14 20:53] nancyhuynh opened #65 "Black screen when embedding youtube video"
Hi,

I just integrated react-native-youtube into my project and am seeing just a black background using the example snippet. I am using react-native 0.34.0. Is there something wrong with the snippet?

[code]

![image](https://cloud.githubusercontent.com/assets/12261742/18529556/8eac9f68-7a9b-11e6-8914-695595c37ba2.png)

[2016-09-14 21:08] nancyhuynh commented on #65
More info:

I get the the following warning in console:
[code]

I used rnpm to link the library, and RCTYouTube appears in my project.

Also, none of the following callbacks get triggered:

[code]

[2016-09-15 18:39] adeebbasheer commented on #65
<YouTube ref="youtubePlayer"
            videoId={this.props.item.id.videoId} // The YouTube video ID
            apiKey={Config.youtube.apiKey}
            onReady={(e)=>{}}
            onChangeState={this._onStateChange}
            onError={(e)=>{console.log(e);}}
            onProgress={(e)=>{}}
            style={[{alignSelf: 'stretch', backgroundColor: 'black', marginVertical: 10}]} />

[2016-09-21 13:26] mahyarse commented on #65
@nancyhuynh did you find out the reason by any chance?

[2016-09-21 17:28] nancyhuynh commented on #65
@mahyarse unfortunately, I did not. I ended up just using a WebView instead, which suits our current needs:

[code]

[2016-09-22 22:46] jnelken commented on #56
Hi @wski ,

Try setting the `origin` prop to `"http://www.mydomain.com"` on your component. I had the same issue before, and found out that Youtube videos with blacklists will auto-blacklist your app if you don't provide any originating domain. If you don't own a domain, you can try adding something else in that field.

This will provide a domain to check against the blacklist, and keep your app f

[2016-09-22 22:49] jnelken commented on #58
Set `playsInline={false}` on your component.
`playsInline` Controls whether the video should play inline, or in full screen

(taken from the docs)

[2016-09-22 23:00] wski commented on #56
@jnelken cool thanks, will give that a shot! I'm curious how they validate that though, since the app is technically not running on a domain.

[2016-09-23 13:29] rpastorelle commented on #63
I don't see a "quick fix" button in Xcode 8. With Xcode 8 I needed to upgrade to RN 0.33, which breaks this plugin due to this error. Any status on a true fix yet?

[2016-09-23 15:51] rpastorelle commented on #63
It looks like this was fixed in RN 0.34.0 (released today). See: https://github.com/facebook/react-native/commit/6e216d20343fccbb7bf9853ffb06a0d2628e9fc5

[2016-09-23 19:47] jnelken commented on #56
I'm curious too @wski . Let me know how it goes for you!

[2016-09-24 08:55] onpaws commented on #65
`ExceptionsManager.js:82 Warning: Native component for "RCTYouTube" does not exist`

Just saw this error. For me it wasn't enough to simply use `rnpm` because it didn't include `RCTYouTube.a` in the linker. I was able to fix by double checking the library was included over in the target's Build Phases (same process as described in the linking [docs](https://facebook.github.io/react-native/docs/lin

[2016-09-24 09:18] onpaws commented on #65
Don't forget to include `Assets/YTPlayerView-iframe-player.html` in the Xcode project.
Without this file you'll get an error like the following in Console.app, and no errors in JavaScript:
`Received error rendering template: Error Domain=NSCocoaErrorDomain Code=258 "The file name is invalid."`

[2016-09-28 09:38] #65 closed

[2016-09-28 09:39] jujumoz commented on #64
It happened for me time to time when LiveReload is on.
Do you have the same issue when you're not in debug ?

[2016-09-28 09:40] #63 closed

[2016-09-28 09:41] jujumoz commented on #62
It should work on iOS but it's not possible on Android because on API restrictions. ;)

[2016-09-28 09:41] #62 closed

[2016-09-28 09:46] jujumoz commented on #60
"package.json" has been updated, thanks @savioseb !
@cjmling : are the instructions README.md more clear now ?
( you have to git clone the project in node_modules => add lines to settings.gradle => add lines build.gradle => add lines to MainApplication.java )

[2016-09-28 09:48] #58 closed

[2016-09-28 09:48] chetnadaffodil opened #68 "Error while linking the package in Android"
**Please mention the package to import in MainApplication.java in your docs**
![screenshot from 2016-09-28 15 17 55](https://cloud.githubusercontent.com/assets/17562095/18908818/c3be75f2-858e-11e6-800b-bc1d9f5f21c5.png)

[2016-09-28 09:49] #56 closed

[2016-09-28 09:49] #55 closed

[2016-09-28 09:50] jujumoz commented on #52
Android support has been merged, you can try and keep me in touch if you have any problems. ;)

[2016-09-28 09:50] #52 closed

[2016-09-28 09:50] #45 closed

[2016-09-28 09:51] jujumoz commented on #35
Android support has been merged, you can try and let me know how is it going. ;)

[2016-09-28 09:51] #35 closed

[2016-09-28 09:53] jujumoz commented on #68
`import com.inprogress.reactnativeyoutube.ReactNativeYouTube; `
I will add it to "README.md". ;)

[2016-09-28 09:53] #68 closed

[2016-09-28 09:54] #43 closed

[2016-09-28 10:06] chetnadaffodil opened #69 "Error in Andriod: Attempt to invoke virtual method on a null reference"
![screenshot from 2016-09-28 15 31 06](https://cloud.githubusercontent.com/assets/17562095/18909478/610c5aca-8591-11e6-8996-486c599fc2f3.png)
With the following dependencies
"react": "^0.14.8",
"react-dom": "^15.3.1",
"react-native": "^0.32.0",

![screenshot from 2016-09-28 15 31 06](https://cloud.githubusercontent.com/assets/17562095/18909323/c3ece1ce-8590-11e6-8a9f-362f78bcc63a.png)

[2016-09-28 10:09] jujumoz commented on #69
It does work with the following dependencies :
 "react": "15.3.2",
 "react-native": "^0.34.1",

[2016-09-28 10:40] chetnadaffodil commented on #69
Re-installed the package.. but the issue persists. I'm using your example as mentioned.

[2016-09-29 13:45] sibelius commented on #57
@vettukal yeah, u should

did u solve the issue?

can u close this?

[2016-09-29 13:46] sibelius commented on #26
@Mokto any progress on this?

[2016-09-29 13:46] sibelius commented on #40
@gauravsapiens any workaround solution for this?

[2016-09-29 13:47] sibelius commented on #59
@savioseb could u try the latest release? it is fixed for >=RN33

[2016-09-29 13:49] sibelius commented on #60
@savioseb can u close this?

[2016-09-29 16:12] sibelius opened #72 "rnpm link support to android"

[2016-09-29 16:23] vettukal commented on #57
If its a typo in the documentation then please close the issue.

On Sep 29, 2016 7:15 PM, "Sibelius Seraphini" <notifications@github.com>
wrote:

[2016-09-29 17:15] sibelius commented on #64
I have the same problem here

can't we just try to use a webview like ios for android?

[2016-09-29 19:54] ronnpang1 commented on #64
I had this issue on both debug and release. I couldn't resolve the problem, however I noticed I would only get this error when i changed from the view hosting the video to another view and then back again to the original view. It makes me wonder if this issue has something to do with the fact that I am re-inflating the youtube view again?

[2016-09-29 22:29] machei commented on #69
Here same

[2016-09-29 22:32] machei commented on #64
After R+R i got this  same error after causing error which is similar to issue https://github.com/inProgress-team/react-native-youtube/issues/69 - only at first time shows up

[2016-09-30 00:43] machei commented on #69
Here solved after upgrading react-native.

[2016-09-30 06:59] chetnadaffodil opened #73 "Andriod Issue:- Binary XML file line #9: Error inflating class fragment"
#64

![screenshot_2016-09-30-12-26-27](https://cloud.githubusercontent.com/assets/17562095/18983282/763a1c42-8709-11e6-9081-059c19c6fcd2.png)

[2016-09-30 11:40] machei commented on #64
[code]

Here full stacktrace.

[2016-09-30 12:13] cjmling opened #74 "Android orientation change layout not in center"
Those control ui don't align center when orientation change back and forth.

This **doesn't** happen when you are playing the video and those control ui are visible ( normally it disappear after couple of second right ). You change the orientation while thos control ui are visible they work fine as expected.

But if you let those control ui disappear and then change the orientation and tap on the

[2016-09-30 13:19] andrejunges commented on #60
@jujumoz why is it needed to clone the repo? shouldnt install it through npm be enough?

[2016-09-30 23:14] machei commented on #74
Use listener from plugin https://github.com/yamill/react-native-orientation
If u place these compoments listener , then do re-render by executing function setState.

[2016-10-03 06:38] knguyen53 opened #76 "Build error with Could not expand ZIP RCTYouTube-release.aar"

[2016-10-03 06:57] #76 closed

[2016-10-05 06:31] mikelambert commented on #73
I believe this happens when attempting to hot-reload with a video player active. I believe it comes from a conflict of triggering a re-load of the youtube xml fragment, where it errors because the associated ids are already in memory: `Binary XML file line #9: Duplicate id 0x7f0e00a7, tag null, or parent id 0x7f0e00a6 with another fragment for com.google.android.youtube.player.YouTubePlayerFragmen

[2016-10-05 06:38] mikelambert commented on #64
Perhaps this might be of help:
http://stackoverflow.com/a/19815266/1125823

Namely, that we should be constructing the player dynamically instead of using the fragment. The above stackoverflow answer has an example of this. Perhaps the example given in the YouTubeAndroidPlayerApi-1.0.0.zip is incorrect in this regard?

[2016-10-05 06:38] mikelambert commented on #73
Oops sorry, this is a dupe of https://github.com/inProgress-team/react-native-youtube/issues/64 which has much better discussion going on. Can you close this?

[2016-10-05 06:42] mikelambert opened #77 "Android player has overlapping scrub bar"
As described by @wski as a comment on a pull request:

I have this issue too. Unfortunately forceUpdate() doesn't seem to fix things (or I'm calling it wrong somehow). The broken scrub bar is not consistent...sometimes it renders correctly, sometimes it doesn't. I'm not entirely sure what triggers it, or how to fix it.

[2016-10-05 06:44] mikelambert commented on #77
For example, the scrub bar in this screenshot:
![screenshot_2016-10-05-02-42-05](https://cloud.githubusercontent.com/assets/7953259/19103549/83fd0642-8aa5-11e6-8a23-55e2b5576e72.png)

[2016-10-06 20:50] jreziga commented on #65
Same problem on Android

[2016-10-06 20:57] jreziga opened #78 "Black screen on Android"
Hello,

I'm trying to run this module on Android but I just have a black screen... Is this a known issue ?

Thanks !

[2016-10-08 13:55] quadsurf opened #79 "iOS Blank/Black Screen - How do I add YTPlayerView-iframe-player.html from Assets to my xcode project?"
All I get is a blank black screen, so I'm guessing it's because I didn't drag n drop the iframe html into the correct xcode location.

How do I add YTPlayerView-iframe-player.html from Assets to my xcode project?

Sorry, as a brand new developer, this is not entirely clear to me. Did rnmp do this for me? Or do I need to manually do this after running rnmp command? And if manually, how?

Just drag

[2016-10-08 17:36] gendeld commented on #69
Same problem here

[2016-10-08 23:12] CharlesMcD commented on #79
Follow these steps (WatchNext is my project name) :

![capture d ecran 2016-10-08 a 19 06 42 - copie](https://cloud.githubusercontent.com/assets/6673075/19216469/094c296c-8d8b-11e6-9c4e-470c2a3743e7.png)

![capture d ecran 2016-10-08 a 19 06 58](https://cloud.githubusercontent.com/assets/6673075/19216470/0ef89e0e-8d8b-11e6-9b1b-2c51710dcdc9.png)

![capture d ecran 2016-10-08 a 19 07 29](https://cl

[2016-10-10 07:37] hanpanpan200 commented on #74
@cjmling @jujumoz

Hi guys, I can not even run the Android demo, I am using `react-native@0.33.0` and `react-native-youtube@0.8.0`, I can only see a preview of the video, but I got the error below:
[code]

`error>>>
Proxy {dispatchConfig: Object, _targetInst: Constructor, nativeEvent: Object, type: undefined, target: 13…}`

Could you please tell me how you run the Android app and your `react-nativ

[2016-10-10 08:42] cjmling commented on #74
@hanpanpan200  I didn't run the demo example.  which come along with the library.

My render is something like this which i just put it in index.android.js  ( **DON'T** forget to put in api key )

I'm using 0.33 && 0.8.0

[code]

[2016-10-10 10:43] quadsurf commented on #79
Thank you @CharlesMcD ... it worked perfectly and beautifully after I followed your tutorial, and what's even better, is that the whole component re-renders whenever I dynamically pass it a new youtube id, so no extra voodoo needed to refresh the YouTube component, woohoo!

[2016-10-10 10:43] #79 closed

[2016-10-10 20:18] morelazers commented on #52
Hi @jujumoz, could you provide some instructions on which API key we need for the Android component? I am a little lost trying to find the right one.

[2016-10-10 21:34] morelazers commented on #64
I'm having the same problem, though it is when I load the component with the YT video that the exception occurs. It happens with any combination of Live Reload, Hot Reload and Remote Debugging.

[2016-10-10 22:14] machei commented on #78
I have same issue:
[code]

[2016-10-11 05:25] joncursi opened #80 "Reset to Original Play Screen When Video Finishes?"
Is there a way to reset the video state to the first frame once the video finishes playing through? Currently it show a browse screen for more videos, but I only want this one video to be available. Do I need to manually re-mount the entire component?

![screen shot 2016-10-11 at 1 23 36 am](https://cloud.githubusercontent.com/assets/4974609/19259628/61ae1698-8f51-11e6-8c22-c0a0a0955da0.png)

[2016-10-11 06:32] joncursi commented on #52
@morelazers mind sharing how you were able to configure it? I created a YouTube Data API key and loaded it in via prop but I'm still getting "An error occurred while initializing the YouTube player."

[2016-10-11 06:53] joncursi commented on #52
I also added the SHA1 fingerprint in the Google Dev Console.

Are you using Genymotion or AVD? I wonder if it's an issue with Google Play services on my AVD.

[2016-10-11 09:39] morelazers commented on #52
@joncursi I was using a device. The problem I was having is that I did not recompile after installing the module.

I turned on the YouTube Data API v3 and then created a generic API key in the dev console, this "worked" for me. I haven't had a chance to fully test on Genymotion/AVD/Device yet because of another issue, but I can see that the player is initialising.

[2016-10-14 12:58] morelazers commented on #64
@julien-inprogress is anyone working on this at the moment? I have some time I could spend trying to fix.

[2016-10-17 13:57] fostertime opened #81 "modestbranding does not remove YouTube Logo Watermark"
The YouTube Watermark remains, even when setting modestbranding={true}.  I believe it might be related to how the playerVars are set in the .html file?

[2016-10-18 21:07] juangl opened #82 "Video keeps loading"
As you can see below, the video just never start.

I'm not sure if I set my APIKey correctily. In fact, is the fist time that I do this, so could you tell me if that behavior is due APIKey.

When app loads the video is opened in fullscreen (this is weird for me). You can see in the bottom of the player shows "Anuncio" that means "Ad".

![screenshot_2016-10-18-15-32-12](https://cloud.githubusercont

[2016-10-20 02:53] n-miyo opened #83 "On Android, `YouTube` component which is in `ScrollView` stops playback."
## Summary

On Android, `YouTube` component which is in `ScrollView` stops playback.
## Detail

On Android, if `YouTube` component puts in ReactNative `ScrollView` component, playback is terminated.  `adb logcat` says:

[code]

You can reproduce it by `Example/index.android.js` with
modification such as:

[code]

You can replace `style` of `ScrollView` to any, but you have to assign some scrollabl

[2016-10-20 10:21] mshaaban0 opened #84 "Rotate on Full Screen"
Hi Guys,
Thank you for the good work.
How can i rotate the player on full screen, something like the youtube experience ?

I am wondering if it's not doable currently, just if you guys can help me with the logic.

thanks

[2016-10-20 22:27] fostertime commented on #81
If anyone else is wondering about this... its due to the fact you cannot have `showinfo={false}` AND `modestbranding={false}` ... apparently Google/YouTube allows only one of those options to be set. More info at: http://stackoverflow.com/a/35174042/6019768 closing this issue! :)

[2016-10-20 22:27] #81 closed

[2016-10-24 07:44] Liroo commented on #84
https://github.com/yamill/react-native-orientation and change the style of the player.
Be careful of the react-native-orientation npm version, only the github is updated

[2016-10-30 11:38] tonygriv commented on #83
+1

[2016-10-30 12:30] tonygriv commented on #83
@n-miyo, do you solve the problem?

[2016-10-30 20:33] n-miyo commented on #83
@tonygriv Unfortunately, not yet.

[2016-11-03 16:34] andrerfneves commented on #83
To me this issue happens regardless of whether the YouTube component is inside of a ScrollView or a normal View. Cannot get YouTube to run inside Android at all.

[2016-11-03 17:12] tonygriv commented on #83
@andrerfneves +1.

[2016-11-04 20:31] tiemevanveen commented on #40
I think something like this could work iOS http://stackoverflow.com/questions/25766365/detect-when-a-webview-video-becomes-fullscreen-on-ios8/34706156#34706156 but needs to be implemented in the lib..

[code]

[2016-11-06 12:38] ManiSJ commented on #78
@machei How to resolve it? I got black screen also. Do we need to add left: 0, top: 0, right: 0, bottom: 0 in style of Youtube

[2016-11-06 13:57] davidohayon669 commented on #83
Youtube player's View doe's not allow to be covered by other Views (i.e. being clipped in a ScrollView). The reported error is UNAUTHORIZED_OVERLAY which you can read about here:

https://developers.google.com/youtube/android/player/reference/com/google/android/youtube/player/YouTubePlayer.ErrorReason

I'm pretty sure there is no simple solution for this as it is intentional

[2016-11-06 15:49] machei commented on #78
@ManiSJ I gave up with that, i made own script for printing thumbnail with action click for opneing new instance.

[2016-11-06 15:52] jreziga commented on #78
You have another workaround. Try like with a WebView like that:

[code]
on Android no fullscreen but on iOS a native player is available.

[2016-11-06 15:55] machei commented on #78
@jreziga Try make example using side bar navigation.

[2016-11-06 16:39] mp31415 commented on #82
I see this behaviour when play property in YouTube element is set to false initially. Setting it to true fixes the problem. Weird.

[2016-11-06 16:52] mp31415 commented on #78
Sorry if it's obvious, but when I run an app with react-native-youtube in stock android emulator (where there is no YouTube app installed), I see the black screen in YouTube frame, If the same app is deployed on a real device YouTube video is loaded correctly.

[2016-11-08 09:42] kt3k commented on #82
I saw the same issue on Android and @mp31415 's solution (`<Youtube play={true} .../>`) worked in my case. Thanks!

[2016-11-09 20:00] davidohayon669 commented on #78
@mp31415 You have to have a YouTube app installed on the emulator as well.
Its a simple .apk file that you can find with a short google search (make sure it fits your emulators architecture) and then install it to the emulator with `adb install`

[2016-11-10 20:17] wski opened #85 "Android Issues"
@Override
    protected YouTubeView createViewInstance(ThemedReactContext themedReactContext) {
        mYouTubeView = new YouTubeView(themedReactContext, themedReactContext.getCurrentActivity());
        return mYouTubeView;
    }

Is causing issues in RCTYouTube\src\main\java\com\inprogress\reactnativeyoutube\YouTubeManager.java because Error:(44, 78) error: cannot find symbol method getCurrentA

[2016-11-11 01:22] juangl commented on #82
Yeah. It works. I think I sound keep open this issue until that unexpected behavior is fixed.

[2016-11-12 17:03] ManiSJ commented on #78
@davidohayon669 Thanks it works now in android.

Downloaded Youtube apk file and followed steps in this https://www.youtube.com/watch?v=fSRAu6W1y0c

[2016-11-12 17:20] jreziga commented on #78
But what if user's devices don't have Youtube application installed ?

[2016-11-12 19:07] machei commented on #78
Then do modify this plugin, just make popup with text like "required youtube application" after pressing on view or just do make place simply message to view if user hasnt installed youtube.

This feature should be added to this plugin.

[2016-11-12 19:11] jreziga commented on #78
@machei that's a terrible idea. So this module isn't working out of the box. First time I see a module which has a dependency on an .apk file... (i.e another app) I'll use WebView instead, more suitable for my needs. Thanks by the way ! I'm closing it now.

[2016-11-12 19:11] #78 closed

[2016-11-18 13:08] mrwest808 commented on #40
Forked and [tried something](https://github.com/mrwest808/react-native-youtube/commit/5544bf1f0dbd97a6674294adc8fceed8fa2c9004) like @tiemevanveen mentioned, seems to work (only for iOS).

Unfortunately I have too little time (and familiarity with Android) to tackle this in a PR atm, but perhaps it can help someone looking for the same.

[2016-11-18 14:05] tiemevanveen commented on #40
Awesome! @mrwest808 yeah same here. A PR just for only iOS is not an option?

[2016-11-18 14:24] mrwest808 commented on #40
@tiemevanveen Yeah I suppose iOS only is better than nothing! 👍

[2016-11-24 11:06] manjeet-dobble commented on #64
Is anyone able to find any solution about this issue

[2016-11-24 13:29] morelazers commented on #64
@manjeet-dobble I tried for a couple of days but I couldn't find a workable solution. Someone with more native experience needs to take over.

[2016-11-25 06:30] manjeet-dobble opened #86 "Not working with react-native listview (android)"
this plugin is not functional in android while using within listview, it is working fine without listview but don't know what makes it to break with listview, see error in

Error- binary xml file line  #10 :Binary XML file line#10 :Error inflating class fragment.

I searched a little bit and come to know that this issue is related with fragment being inflated within fragment(listview item may be a

[2016-11-25 06:36] manjeet-dobble commented on #64
I have created a issue #86 , have mentioned few of my thoughts and willing to work but don't have idea from where to start

[2016-11-26 09:43] minhcasi commented on #85
got the same issue:

:RCTYouTube:compileReleaseJavaWithJavac
/Users/minh/Documents/Projects/BeoNews/node_modules/react-native-youtube/RCTYouTube/src/main/java/com/inprogress/reactnativeyoutube/YouTubeManager.java:44: error: cannot find symbol
        mYouTubeView = new YouTubeView(themedReactContext, themedReactContext.getCurrentActivity());

[2016-11-28 15:51] manjeet-dobble commented on #64
Actually after little bit of searching I am able to play YouTube videos within listview using webview [see SO post](http://stackoverflow.com/questions/40845156/react-native-webview-embed-youtube-video-doesnt-have-fullscreen-options-in-andr), but I am unable to get fullscreen button right now, any help will be appereciated

[2016-11-30 11:19] davidohayon669 commented on #86
Im finishing work on an 1.0.0-alpha.1 version that address this issue as well

Will publish pull request these next few days

[2016-11-30 14:22] manjeet-dobble commented on #86
@davidohayon669  that will be great

[2016-12-01 16:23] jeremypagley commented on #64
@ronnpang1 @morelazers I found out why this was happening for me. It is when on android you have more than one <Youtube ... /> in the same component. Try only having one and lemme know if that works for you.

[2016-12-02 02:08] GeoffreyPlitt opened #87 "Play rotated without changing "orientation""
I'm making an app that is locked to portrait, and then occasionally we want to play landscape videos without changing the orientation (or rather without using "gravity" to rotate, the way apps typically do).

We'd like to play a landscape video on a "portrait" screen-- is this possible? i.e. rotated 90 degrees on purpose.

[2016-12-02 03:13] joncursi opened #88 "Support React Native 0.39.x / 0.40.x Headers"
RN 0.39.0 ships with breaking changes to CSSLayout. 0.40.0 ships with changes to the header imports. This causes the build to fail on the `react-native-youtube` module:

For 0.39.x users:

<img width="322" alt="screen shot 2016-12-01 at 10 11 24 pm" src="https://cloud.githubusercontent.com/assets/4974609/20821761/3bb87dbc-b813-11e6-89a9-e4d839867e6a.png">

For 0.40.0 users:
<img width="1440" alt="

[2016-12-02 19:19] KabirKang commented on #6
I am still getting this issue with the onError function for Android.

By the way, does npm install work or does it need to be git cloned?

[2016-12-02 21:52] undef1ned commented on #6
@KabirKang I'm not using this module in my app, it's even not listed in package.json / node_modules, however I got this issue as well after updating to rn 0.39. So just googled this issue here :)

However one of my own modules had this method and disabling the module helped me to build the app

Maybe it's related to this change:
https://github.com/facebook/react-native/commit/e87e181998bf4f8efba2c

[2016-12-06 08:27] cihancil commented on #87
I got the same issue. I considered using orientation library to manually let landscape. But it does not help because player does not have full screen events

[2016-12-06 09:08] cihancil commented on #84
@Liroo How do you use react-native-orientation with player?

 Player does not have any events to detect full screen.

[2016-12-06 09:23] Liroo commented on #84
I implemented one fully JS (react-native-orientation has listeners for rotate event).. But there is definitivly not the right way to do.
This should be implemented in Native, you could wait or try to do your own module or PR this one ;)
@cihancil

[2016-12-06 09:24] Liroo commented on #87
Duplicate of #84

[2016-12-06 10:14] IjzerenHein commented on #6
I'm also seeing this after upgrading to RN 0.39. Not sure it's related to react-native-youtube though. Have not been able to pinpoint the actual problem yet.

@KabirKang what exactly did you change in your app? Could you post the changes you made in your app to fix this. Maybe this will help the rest of us on how to solve it in our apps. Thanks!!

[2016-12-06 11:20] undef1ned commented on #6
@IjzerenHein Simply check your other node_modules/* whether some of them exposes onError method. I did the same changes to my custom module, as it's here https://github.com/inProgress-team/react-native-youtube/issues/7 and the issue disappeared. I think it was related to Image.onError which is defined by RN now.

[2016-12-06 14:28] IjzerenHein commented on #6
@undef1ned Thanks for the feedback!

Finally found that it is indeed the `onError` event in `react-native-youtube` that is the culprit (in my app). I don't quite know how to properly fix it, but after renaming the following instance of `"onError"` the error is gone and the app starts. Hope this helps anyone else in actually fixing the problem properly..

[code]

[2016-12-06 15:08] undef1ned commented on #6
@IjzerenHein Yeah, it's also present in the Youtube.android.js so you should replace it everywhere to make it work and may-be submit pull-request :)

[2016-12-06 19:26] #87 closed

[2016-12-06 20:29] joncursi commented on #88
Anyone else having this issue? This is a big blocker for me at the moment.

[2016-12-07 11:03] IjzerenHein commented on #6
FYI, I submitted a PR for this #90 to fix the issue on RN 0.39

[2016-12-07 14:41] MehdiZonjy commented on #88
I have the same issue on my end as well. sadly my experience in iOS both as a developer and user is rather limited so I can't do much about it. for the time being I downgraded to react-native@0.38.0

[2016-12-08 20:13] IjzerenHein commented on #80
I think that setting  the `rel` prop to false will solve your problem:
https://github.com/inProgress-team/react-native-youtube#properties

[2016-12-08 20:15] IjzerenHein commented on #74
@hanpanpan200 That problem should be fixed by pull request #90

[2016-12-08 20:18] IjzerenHein commented on #40
I've implemented this for android in pull request #91. On android it then emits "fullscreenMode" and "windowMode" states in the `onStateChange` callback

[2016-12-08 20:32] IjzerenHein commented on #74
@cjmling I have been experiencing the same kind of layout issues (controls are not centered..). For me it happened only rarely in debug builds but was easily reproducible on release builds. After 2 days of searching/experimenting I've finally found a fix for this. The key is to force a relayout of the `<YouTube>` view. For instance by making the youtube view 1 pixel less wide. I've written a class

[2016-12-09 00:28] joncursi commented on #80
That did it, thank you! Not sure how I missed that.

[2016-12-09 00:28] #80 closed

[2016-12-09 16:16] tonygriv commented on #86
@davidohayon669, how are you getting on with new version?

[2016-12-09 16:29] davidohayon669 commented on #86
@tonygriv a matter of 3-4 days
Tons of stuff to improve so hang on :-)

[2016-12-12 14:57] sibelius commented on #88
I think u should add this to:

`$(SRCROOT)/node_modules/react-native/ReactCommon`

to Header Search Path

[2016-12-14 11:31] jonohodgson commented on #52
@morelazers @joncursi
I'm having the same issue...  "An error occurred while initializing the YouTube player".
I did the following:
1. Created a project in Google APIs
2. Enabled YouTube Data API v3
3. Used create credentials to create an unrestricted API key

Have you both had any luck getting this to work? Is there something I'm missing?

[2016-12-14 15:23] morelazers commented on #52
@jonohodgson Are you running on device or emulator?

[2016-12-14 16:39] jonohodgson commented on #52
@morelazers running on emulator

[2016-12-14 17:40] joncursi commented on #88
@sibelius hmm, could you be more verbose? I'm not sure what you mean or what change you're recommending that I make.

[2016-12-14 19:07] hugohow commented on #88
+ 1

[2016-12-15 06:31] morelazers commented on #52
Sorry for taking so long - here's a code sample that works for me. Are you passing in the apiKey to the component as a prop?

[code]

[2016-12-15 09:00] jonohodgson commented on #52
Thanks for the reply. Yeah that's exactly what I was doing. I can embed the Youtube video in a WebView and it plays, but when I use react-native-youtube I get the error on Android.

[2016-12-15 09:54] morelazers commented on #52
Hm, you have definitely made sure everything is linked etc? Sometimes rnpm will fail so it's best to double-check it all manually. And then make sure you're rebuilding the project with `react-native run-android`

[2016-12-15 12:29] jujumoz commented on #85
@minhcasi @wski Which version of RN are you using ?

[2016-12-15 12:32] jujumoz commented on #84
@mshaaban0 You want the player to rotate when the device rotates while in fullscreen, right ?

[2016-12-15 12:45] minhcasi commented on #85
I've used the version of 0.39

[2016-12-15 13:35] mshaaban0 commented on #84
@jujumoz no, i want the player in full screen on play without orientation [check here](https://github.com/inProgress-team/react-native-youtube/issues/87)

[2016-12-15 13:46] Liroo commented on #84
Youtube player does not work like this... It detect orientation and play fullscreen only in landscape mode or if you press fullscreen button.

And what do you want is a view rotate by 90 degrees and position absolute left, right, top, bottom 0

[2016-12-15 14:32] mshaaban0 commented on #84
@Liroo actually you are right, my mistake. i did try to do it but my obj-c skills are very low. i will try to give it another try soon. 👍

[2016-12-15 14:51] Liroo commented on #84
@mshaaban0 anyway, I dont think react native has any stable video player actualy :/

[2016-12-17 23:11] davidohayon669 opened #94 "v1"
I've been refining this project a lot for my own use and would like to share it with you, but I suggest it should be an upgraded major version, since I let myself break some API to have better organization and understanding of this library. Plus because a lot is rewritten, It will be probably better to handle it on a different branch and an alpha version on npm (1.0.0-alpha.1).

**Stuff added:**
-

[2016-12-18 09:22] davidohayon669 commented on #86
@tonygriv I've published a new branch to my fork #94, now it depends on the maintainers

[2016-12-18 13:32] #84 closed

[2016-12-21 01:06] alexwasner commented on #94
@davidohayon669 I tried integrating yours and all of the functions from the ref are undefined. Example: `this._youTubePlayer.playVideoAt is not a function`. Any thoughts on this?

[2016-12-21 13:45] tonygriv commented on #94
@davidohayon669, thanks. What is the best way to use it now?

[2016-12-21 17:04] davidohayon669 commented on #94
@tonygriv You can clone my fork to somewhere on your computer and then point to it in your own project's package.json like this:
`"react-native-youtube": "file:../path/to/repo/react-native-youtube",`

After that, `npm install` should treat it like an online repository.
To manually install again if you did any change to the repository code, use:
`npm install react-native-youtube@file:../path/to/rep

[2016-12-22 17:08] davidohayon669 commented on #94
@tonygriv I forgot to mention, make sure to switch to `v1` branch

[2016-12-24 06:41] eljago commented on #88
I did what the error suggested and it worked. Click the error, it will take you to the file RCTConvert.h. Then replace **#import <CSSLayout/CSSLayout.h>** with **#import "CSSLayout.h"**

I know that modifying this file is not the desired solution, but it was a quick fix.

[2016-12-27 19:26] ashleyw commented on #43
Was this fixed? Downgraded to react-native 0.38, using react-native-youtube 0.8.0.

Video plays and `seekTo()` works, however `onReady`, `onChangeState` and `onChangeQuality` are never called.

[2016-12-30 05:49] YuanSyun opened #95 "Not Auto FullScreen"
OS：Windows 10
Development platform：Android
React Native ： 0.39.2
Date：2016/12/28
------------------------------------------
File location：
node_modules\react-native-youtube\RCTYouTube\src\main\java\com\inprogress\reactnativeyoutube\YouTubePlayerController.java

[code]

[2017-01-03 04:25] denny64 commented on #85
I'm getting the same error. Any updates on this issue?

[2017-01-04 00:59] denny64 commented on #85
Figured it out..

In `android/build.gradle`, change your react-native node_modules path to the root directory.

[code]

[2017-01-06 18:00] clarkie commented on #88
I tried to go for the quick fix of modifying the file but then had to modify a couple more and then ended up with this:

![image](https://cloud.githubusercontent.com/assets/2292639/21727586/ec9a122a-d439-11e6-8b95-8d1b7c9dfb93.png)

Any ideas?

[2017-01-08 20:07] mikelambert commented on #94
Alternately, to use it one can point your package to `github:davidohayon669/react-native-youtube#v1`, a la:
`npm install github:davidohayon669/react-native-youtube#v1 --save`

[2017-01-09 16:27] joncursi commented on #88
I updated this issue tracker description with another batch of issues that arise for users trying to upgrade to RN 0.40.0. Similar issues, with the way modules are being imported in the headers.

[2017-01-09 21:21] joncursi commented on #88
For anyone else who is waiting on this, and unable to upgrade to RN 0.40.0 as a result, I created a temporary, forked version of this repo here: https://github.com/joncursi/react-native-youtube

Add it to package.json with:

[code]

I will delete the fork once this repo becomes compatible again.

[2017-01-11 01:13] denny64 opened #97 "Cannot get it to load on Geny Motion"
How do I get the YoutubePlayer to load on the Geny motion simulator? It says "Error initializing youtube"

I'm currently using the Google Nexus 6P - 6.0.0 - API 23 device

[2017-01-11 11:13] morelazers commented on #97
@denny64 Have you provided an apiKey prop?

[2017-01-11 22:30] denny64 commented on #97
@morelazers Yep, apiKey is there. After doing some digging, it appears that Geny Motion simulators don't have Google Play Services installed, which may be why it doesn't work? Although when I tried it on a real device, the youtube player crashes

[2017-01-11 22:37] morelazers commented on #97
Yeah I got stuck putting google play services on genymotion emulator and ended up just using the one which comes with Android Studio instead (which is actually way faster for me). You can download the Google APIs through the SDK manager in there and assign them to your emulators.

Do you have an error message for the crash? It's a while since I used the module but I'll try to help out if I can

[2017-01-11 23:19] denny64 commented on #97
@morelazers - Just tried it with the Android studio simulator, turns out I get the same "An error has occurred while initializing the Youtube Player" issue. Maybe my apiKey is incorrect. I've enabled Youtube Data API in my Google Console, and have created an API key. Am I missing something?

[2017-01-11 23:25] morelazers commented on #97
Are you sure you have enabled the Google APIs image for the emulator? You might also have to have the YT app installed on the device.

Here's the code that worked for me:

[code]

[2017-01-12 04:15] denny64 commented on #97
The error appears to be something to do with the fullscreen functionality. Every time it goes full screen, the app crashes. Any ideas?

[2017-01-12 18:33] DarkHollow commented on #88
@joncursi adding that line to my package.json in dependencies equals to an error:

[code]

[2017-01-12 19:04] morelazers commented on #88
@DarkHollow try using the `https` url

[2017-01-12 19:06] morelazers commented on #97
Can't say I have any off the top of my head. Are you able to get a stacktrace from android monitor?

[2017-01-12 21:01] DarkHollow commented on #88
@morelazers yes, it's what I had done a while ago and it worked, thank you anyway!

[code]

[2017-01-13 01:16] denny64 commented on #97
@morelazers Turns out to be an issue with how our router was structured.. Thanks for your help though!

[2017-01-13 01:16] #97 closed

[2017-01-13 09:04] YuanSyun opened #98 "Ended Event"
[code]

[2017-01-13 16:50] nhcuong95 opened #99 "Black screen when embedding youtube video"
Hi, I'm using react-native 0.40.0. When I integrated the the example snippet into my project, I only get the empty black screen.

Same problem here: https://github.com/inProgress-team/react-native-youtube/issues/65
but I don't want to use WebView to solve this issue. Anyone know how to fix it?

Thanks alot!

[2017-01-13 16:58] morelazers commented on #99
@nhcuong95 Android/iOS? If you're on Android make sure that the project is included in `MainApplication.java` and that you've rebuit the project with `react-native run-android`.

Usually a red-line around the component indicates that it hasn't been installed properly.

[2017-01-13 17:19] nhcuong95 commented on #99
@morelazers I'm working on the iOS one. And I saw a red-line around the component too.

I have been looking around for hours but haven't found a solution yet.

[2017-01-14 00:04] dozel opened #100 "An error occurred while initializing the youtube player."
I've added the following code in the RN project, but keep getting the 'An error occurred while initializing the youtube player.' error only on Android (emulator). On iphone it runs beautifully.

<YouTube
                  ref="youtubePlayer"
                  videoId="KVZ-P-ZI6W4" // The YouTube video ID
                  play={true}           // control playback of video with true/false

[2017-01-14 16:43] labithiotis commented on #59
I had this issue when I didn't link the native libraries correctly, followed the readme and works fine now.

[2017-01-14 17:37] labithiotis commented on #100
I'm also experiencing the same issue on RN0.36. I have followed the readme to the letter and recompiled the app and still have the issue.

[2017-01-15 14:57] gkarwchan opened #101 "RN 0.39.2 with RN-youtube 0.8.0 on Android"
Hi , I followed the installation for Android in the README file and when I run it for android, it gives me this error

[code]

Any idea?
Appreciate the help

[2017-01-15 15:54] gkarwchan commented on #101
Sorry,  I see you alre

[2017-01-15 15:54] #101 closed

[2017-01-15 23:40] ilyadoroshin commented on #100
same for me.. does it have anything to do with running it on emulator? Is it even possible to make it work in emulator?
#97

[2017-01-16 07:31] rengasahusoft commented on #88
<img width="254" alt="screen shot 2017-01-16 at 12 59 44 pm" src="https://cloud.githubusercontent.com/assets/19145173/21974256/b2f99d74-dbeb-11e6-8af9-b1608923264a.png">

@DarkHollow  I get The above mentioned error when i update my npm with you package,

react native version 0.39

[2017-01-16 09:35] morelazers commented on #100
@ilyadoroshin I can't remember if I managed to get it to work in android emulator. I think that you need the YouTube app installed on the device for it to function on Android. I am not sure if you can install the app on emulator.

If you have a device to test on definitely try that instead. Otherwise the iOS simulator should work.

[2017-01-16 13:39] joncursi commented on #88
The forked package is for React Native 0.40.0 users. You need to upgrade to 0.40.0 first if you want to use it

[2017-01-16 15:32] tuld01061 commented on #99
@nhcuong95 I got the same problem after upgrating my project to react-native 0.40.0.  Because, like @morelazers said, react-native-youtube hasn't been installed properly. I rolled back to use react-native 0.39.0 and this problem was disappeared.

[2017-01-17 19:01] #100 closed

[2017-01-18 01:34] ilyadoroshin commented on #100
@morelazers YouTube app worked splendidly! Thanks!

[2017-01-18 12:41] keyurparalkar opened #102 "unable to hide youtube button ?"
Hi team,

I am unable to hide the youtbe button which is present at the bottom right of the video. Even when i set
`modestbranding={true}` and `showinfo={false}` still I am not able to remove the youtube button ?
here is my code

`
<YouTube
               videoId="videoId"
               play={this.state.isPlaying}
               hidden={false}
               playsInline={true}
               show

[2017-01-18 13:16] keyurparalkar commented on #81
I am unable to hide the youtbe button which is present at the bottom right of the video. Even when i set
modestbranding={true} and showinfo={false} still I am not able to remove the youtube button ?

[2017-01-18 13:17] keyurparalkar commented on #55
I am unable to hide the youtbe button which is present at the bottom right of the video. Even when i set
modestbranding={true} and showinfo={false} still I am not able to remove the youtube button ?

[2017-01-18 22:09] davidohayon669 commented on #99
@nhcuong95 the red frame happens if I remember correct because the `YTPlayerView-iframe-player.html` file that holds the inner iframe source isn't found by the native code.
Did you incorporated that file in you project correctly?

Try installing my fork for this repository by running
`npm install github:davidohayon669/react-native-youtube#v1 --save`
and following the instructions on the [README](h

[2017-01-18 22:13] davidohayon669 commented on #102
@keyurparalkar iOS or Android?

[2017-01-19 00:18] keyurparalkar commented on #102
Android

[2017-01-19 09:41] davidohayon669 commented on #102
@keyurparalkar this is not possible on the Android implementation

[2017-01-19 12:22] keyurparalkar commented on #102
So there is no way I can do it?

[2017-01-19 17:46] davidohayon669 commented on #102
@keyurparalkar The Android implementation uses [this official Youtube Android API library](https://developers.google.com/youtube/android/player/). You can learn about possible options there. AFAIK the youtube button is permanent

[2017-01-19 19:44] dozel opened #103 "Unauthorized Overlay in Android"
Has anyone figured out how to deal with unauthorized overlay error in Android?

Is it an order-placement issue? Should I display it modally? What's the solution here?

[2017-01-19 19:53] dozel commented on #103
The only solution I can come up with is to present it Modally. I would rather not do that.

[2017-01-21 07:05] nhcuong95 commented on #94
@mikelambert I got this error while building the android app:Gradle sync failed: Configuration with name 'default' not found.

Do you know what's wrong here? I got the error after I run: npm install github:davidohayon669/react-native-youtube#v1 --save

[2017-01-21 07:05] #99 closed

[2017-01-21 11:15] davidohayon669 commented on #94
@nhcuong95 did you `react-native link`? what version of RN?

[2017-01-21 11:23] davidohayon669 commented on #103
@dozel To my knowledge the Android YouTube API will always pause if it is covered even partially by other views or cropped inside a scrollable view. You should plan your UI/UX around this limitation.

Another option would be to implement this player in Android as an embedded WebView that holds the generic html iFrame like its being done in iOS. I guess then the iFrame has no knowledge about being

[2017-01-21 11:33] heiseish commented on #94
@davidohayon669 Hey man, do you have any idea why my onChangeState function (and other onChangeX functions as well) doesn't work? I tried to print out the state and was unable to do so

[2017-01-21 11:37] davidohayon669 commented on #94
@heiseish version of this repo? version of device? version of RN?

[2017-01-21 11:39] heiseish commented on #94
@davidohayon669 your most updated repo from `github:davidohayon669/react-native-youtube#v1`
Version of the device is ios 6 simulator.
RN 0.39.0
Thanks

[2017-01-21 12:39] nhcuong95 commented on #94
@davidohayon669 yeah, I did it. RN 0.40.0. Do I have to remove the old gradle configuration from the initial react-native-youtube before install from your repo?

[2017-01-21 15:33] davidohayon669 commented on #94
@nhcuong95 Probably. sounds like you need to unlink the older version of this repo. Paste your `settings.gradle` file

[2017-01-21 15:37] davidohayon669 commented on #94
@heiseish Are you sure you're doing it correctly?

Try adding `onChangeState={e => console.log(e.state)}` to the component and wait for any logs while a video is playing.

[2017-01-21 15:40] heiseish commented on #94
@davidohayon669 yup tried that. seems like the onChangeState function never gets called for a reason

[2017-01-21 17:18] davidohayon669 commented on #94
@heiseish I've never checked my code on a higher version than RN 0.37, Maybe it got something to do with that. Other than that I have no...

Try running the example in the repo and see if this event works for you there
The installation is pretty straightforward

[2017-01-22 11:19] #102 closed

[2017-01-25 00:15] #103 closed

[2017-01-26 15:00] georgiana-gligor commented on #88
I explained the steps we took to fix the RN 0.40 breaking changes [in a blogpost](http://tekkie.ro/quick-n-dirty/support-react-native-0.40-ios-headers/), I hope this helps people confronting the issue in several libraries of their projects.

[2017-01-29 08:24] vesper8 commented on #94
@georgiana-gligor @joncursi @davidohayon669 so many forks and branches thrown around.. this one seems to have great improvements.. but then there are more recent forks that offer 0.40 RN support.. and in the meantime this package is hardly getting any attention... I hope you guys can work together to merge the 0.40 compatibility with the improvements you made in your v1 branch

[2017-01-29 10:19] davidohayon669 commented on #94
@vesper8 I would gladly take a maintainer role in this repository. I think it can be maintained much better than just be patched with pull-request everytime. All depends on the owners @julien-inprogress

[2017-01-29 13:15] vesper8 commented on #94
@davidohayon669 I would love to see this package continue to improve so I hope you can be made a maintainer, otherwise I will continue to use your branch and I'm sure you'll be able to provide support for the latest RN version soon :)

I have a question for you if you don't mind. I am trying to get your example (of your v1 branch) to work in Exponent (https://getexponent.com). Not sure if you're f

[2017-01-29 15:12] davidohayon669 commented on #94
@vesper8 I'm not familiar with Exponent at all so I guess I can't really help you with that. I can only say that this repo is of course of a real Native Component and if that is a limitation than you probably need to find another solution.

I would probably keep upgrading my fork to support RN40 and more, as I need it for my own project. I just can't really tell when it will happen since I work on

[2017-01-30 10:52] max-mykhailenko opened #105 "[BUG] RN 0.40 "error: duplicate interface definition for class 'RCTBridge'""
Can't build app after installing youtube player. How I can fix this? Possible problem https://github.com/facebook/react-native/issues/11725

Possible fix

on lines https://github.com/inProgress-team/react-native-youtube/blob/master/RCTYouTubeManager.m#L11
add `React/` prefix like in https://github.com/lwansbrough/react-native-camera/pull/544/commits/6b4f4cb8da0d0286122c3a41ec72bad2b8b26e99

[code]

[2017-01-30 13:25] max-mykhailenko opened #106 "[FEATURE] Play video without sound (mute)"
It will be great to control video volume or just mute/unmute

[2017-01-30 13:39] max-mykhailenko commented on #105
https://github.com/inProgress-team/react-native-youtube/issues/88

[2017-01-30 13:39] #105 closed

[2017-01-30 15:21] max-mykhailenko opened #108 "[BUG] onChangeState doesn't work on RN 0.40"
onProgress doesn't work too

[2017-01-30 15:29] max-mykhailenko opened #109 "[FEATURE] Rotate video in fullscreen mode despite RN settings"
In react-native-video player can go to landscape mode if rotation locked to portrait in Xcode settings

[2017-01-31 18:11] larryranches commented on #109
I'm also interested in this feature being built in to this project.

I believe you could use https://github.com/yamill/react-native-orientation in tandem with this project. The problem with this approach is that you would have to disable the locked to portrait in xcode because this setting from my R&D experience is that this setting is NOT overwritable with the current libraries and orientation su

[2017-02-01 07:06] max-mykhailenko commented on #109
@larryranches Do you know how `react-native-video` do that without additional setup?

[2017-02-01 17:02] larryranches commented on #109
@max-mykhailenko You'll have to use the same approach. The problem is not really the video component. It's the handling of the orientation.

[2017-02-02 06:44] max-mykhailenko commented on #109
@larryranches I enable only portrait orientation in Xcode Info.plist, but `react-native-video` rotate according to orientation and never mind to the setting. I'll look sources of `react-native-video` and maybe find something helpful.

[2017-02-06 20:26] edencakir commented on #88
@joncursi is it working on android?

[2017-02-06 20:32] sibelius commented on #88
this could help: https://medium.com/@thisismissem/how-to-upgrade-react-native-modules-in-a-backwards-compatible-manner-a5b5c48d590c#.e0a17mwv0

great post by @ThisIsMissEm

[2017-02-07 22:11] iDams opened #110 "Events not firing on RN 0.39"
Hey,

I'm using react-native `0.39` and no events are firing on IOS (`onReady`, `onChangeState`,...)
I didn't see any issues on it, am I the only one?

I fixed it by using `sendAppEventWithName` instead of `sendInputEventWithName ` to dispatch events from React Native to JS. Btw it seems that `sendInputEventWithName` is deprecated.

It might be the same issue as #108?

If anyone is having the same

[2017-02-08 09:58] vesper8 commented on #94
@davidohayon669 well it seems like @joncursi has identified everything that needed to be changed to make it work with rn40 (and probably 41) in his single commit here:

https://github.com/joncursi/react-native-youtube/commit/dc9dba529cee0ee404c2e0c8c81d28b322c6d3ea

Any chance of implementing this? Because I am using your fork as the official fork from now on because of your awesome improvements!

[2017-02-08 12:04] #83 closed

[2017-02-08 12:07] edencakir commented on #88
@jujumoz can you get this merged too? for RN 0.40

[2017-02-08 13:20] #88 closed

[2017-02-08 13:49] davidohayon669 commented on #94
@vesper8 Thanks, I will patch it in the next few days

[2017-02-08 16:31] jonwu commented on #110
same issue +1

[2017-02-08 16:45] max-mykhailenko commented on #110
It's duplicate of #108

[2017-02-08 17:28] jonwu commented on #110
@iDams i replaced `sendInputEventWithName` with `sendAppEventWithName` in Libraries > RCTYoutube.xcodeproj > RCTYoutube > RCTYoutube.m, but it still isn't working. Am i missing something?

[2017-02-08 17:35] iDams commented on #110
@jonwu You also need to change the way you listen to events in `YouTube.ios.js`. You have to use `NativeAppEventEmitter.addListener()` now

You can check the changes I made on my fork:
https://github.com/iDams/react-native-youtube/commit/3eb3344bd48379b67266dcfc759aeb034010d20f#diff-20f3ec9d61e7a9aa3d583adf9e66d4ffR62

Here is the doc related: https://facebook.github.io/react-native/docs/native-mo

[2017-02-09 04:20] nhcuong95 opened #111 "Video auto pause when screen rotates"
When my screen rotates from portrait mode to landscape mode, the video is paused. It should keep playing like a native youtube video player but I don't know how to fix it. Anyone have an idea about this problem?

Thanks

[2017-02-09 06:43] max-mykhailenko commented on #110
@iDams can you create PR with this changes?

[2017-02-10 06:53] wcandillon commented on #110
@iDams I would love to see this commit merged, I will try to test it on an integration branch that also contains the build fix for react native 0.4.0 currently in master.

[2017-02-10 08:38] wcandillon commented on #110
@iDams @max-mykhailenko I made an integration branch that works great for my project! 🎉  I will try to make a clean PR for you now.

[2017-02-10 08:48] iDams commented on #110
@wcandillon nice! Sorry for the late responses, I didn't have time to do the PR yet.

[2017-02-10 09:12] wcandillon commented on #110
@iDams @max-mykhailenko  ready at https://github.com/inProgress-team/react-native-youtube/pull/113. I use it in my own react native project and it works great. Thank you for such great component and for your support guys.

[2017-02-10 17:44] edencakir opened #114 "Android FullScreen Hardware Back Button locks orientation to landscape"
When user makes the player full screen and quits via pressing hardware back button, orientation locks to landscape. In addition to that, if user quits and kills the app, he sees the video player full screen just as it was left.

I'm using the latest version of react-native-youtube and RN 0.40

[2017-02-11 23:17] davidohayon669 commented on #94
@vesper8 support for RN >= 0.40 added

[2017-02-12 06:12] salmankhann opened #115 "Not working with React Native 0.42"
Since the example does not work with RN 0.42, I updated the Examples project to use React Native 0.42 and also used React Native Youtube 0.8.1 from master for it work. Everything compiles fine and runs but it is stuck at 'Player setting up' with a white background (instead of black). There are not compile errors or runtime errors except this one:
Received error rendering template: Error Domain=NSC

[2017-02-12 09:34] vesper8 commented on #94
@davidohayon669 awesome!! thank you!

[2017-02-12 17:53] #108 closed

[2017-02-12 17:53] #110 closed

[2017-02-13 05:13] salmankhann commented on #115
Got the error, it was that I didn't that the html file referenced from the Assets folder. I'll create a PR for the examples project once @jujumoz releases 0.8.1.

[2017-02-13 05:13] #115 closed

[2017-02-14 07:35] mikelambert opened #116 "Delete android-support branch"
It's fully merged, out-of-date, and may be misleading to anyone poking around. :P

And major thanks for finally digging through the backlog of PRs to get caught up to this point!

[2017-02-14 23:10] agilecollab commented on #95
While this does fix the auto loading into full screen and then the snap back to portrait orientation the video plays but only shows a black box...that is until the devices is switched to landscape and then back. any ideas why that might be?

[2017-02-17 09:33] wcandillon commented on #109
@max-mykhailenko I'm very interested by this feature as well, let me know if you have any leads, I'm willing to contribute. If not, I will try to implement the solution proposed by @larryranches (locking the orientation at the RN level and unlock it while in full screen).

[2017-02-17 12:01] wcandillon commented on #109
@max-mykhailenko I ended up implementing the solution from @larryranches and it works great!

[2017-02-17 17:15] larryranches commented on #109
@wcandillon Are you locking every view in your project then unlocking only the views that you'd like to install landscape?

[2017-02-17 19:08] wcandillon commented on #109
@larryranches correct.

On my main class I have:
[code]

[2017-02-18 23:40] davidohayon669 commented on #94
@jujumoz any plan on incorporating this as a next version branch?

Other than tons of refactoring, I think the work I did here on playlists, updated example / development app, and simplified installation is extremely valuable to the freshness of this project.

[2017-02-19 21:10] juergengunz opened #119 "Play Video by Button only"
Is there a way to play a video in fullscreen by clicking a custom button without showing the player?

[2017-02-20 08:00] mikelambert commented on #94
FWIW, I think the "simplified installation" and "rnpm link" parts are currently solved by my changes that got merged last week (the pull request actually predated yours :P )

[2017-02-20 12:23] davidohayon669 commented on #94
@mikelambert well, I was just trying the last version of the master branch and it still isn't automatically linking the `YTPlayerView-iframe-player.html` file... Not that it's so hard to accomplish, it's just that I already took care of all of these stuff and other crucial things because I use this project for a commercial app, and I already tested a lot of usability scenarios.

Also the handling

[2017-02-20 13:01] mikelambert commented on #94
Ahh sorry, I had fixed Android linkage with my series of changes, not iOS.

And yeah, no argument from me on anything else you mention...didn't mean to argue against everything else that your branch does.

[2017-02-20 15:45] wcandillon commented on #119
@juergengunz this how I implemented what I believe is your use case:

[code]

[2017-02-22 12:19] gemma-ferreras commented on #115
@salmankhann i got the same issue, where did you referenced it? can you give me an example? thanks

[2017-02-23 15:32] vaxo-m opened #120 "Cannot evaluate module RCTYouTube"
Cannot evaluate module RCTYouTube : Configuration with name 'default' not found.

[2017-02-23 18:16] GeoffreyPlitt commented on #109
@wcandillon Also wondering what Larry asked: are you locking every view in your project then unlocking only the views that you'd like to install landscape?

[2017-02-24 06:48] max-mykhailenko commented on #109
@GeoffreyPlitt you can lock only root view and all children will be locked. After fixing callbacks for RN 0.40 all works with https://github.com/yamill/react-native-orientation library. Thanks, guys!

[2017-02-24 06:48] #109 closed

[2017-02-24 15:49] engin145 opened #121 "[android] java.lang.NullPointerException: Attempt to write to field 'int android.app.Fragment.mNextAnim' on a null object reference"
Process: me.gochurch, PID: 706
                                                         java.lang.NullPointerException: Attempt to write to field 'int android.app.Fragment.mNextAnim' on a null object reference
                                                             at android.app.BackStackRecord.run(BackStackRecord.java:757)
                                                             at andr

[2017-02-24 16:41] engin145 commented on #120
add in settings.gradle` project(':react-native-device-info').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-device-info/android')`

[2017-02-25 13:46] edencakir opened #124 "Hiding Video Info"
After looking into source code, I discovered that `showInfo` doesn't work at all, since it should've written as `showinfo`, and settting `showinfo={false}` actually hides the info.

I can arrange a PR if you like.

[2017-02-25 13:47] edencakir commented on #124
I think that's me being silly, examples and readme is correct.

[2017-02-25 13:47] #124 closed

[2017-03-02 16:50] bendellarocco commented on #85
I am getting this issue with RN 0.39.  @denny64s fix did not solve the issue

[2017-03-03 05:25] superandrew213 commented on #84
@jujumoz why was this closed? Isn't this something that should we should add? At least for iOS. On Android full screen goes straight into landscape mode.

[2017-03-06 14:52] wellyshen opened #125 "The "rel" property default value seems set to "false"?"
As the README file describing that the `rel` property default is `false`, but if I don't set the `rel={false}` in my youtube component, the relative videos will show up. It seems the default value is `false`, am I correct?

[2017-03-07 10:16] wellyshen commented on #84
@jujumoz We really need this feature, currently (react-native-orientation)[https://github.com/yamill/react-native-orientation] seems not working for RN 0.42.0 and later... If the feature can be included in this library it will be awesome!

[2017-03-07 14:58] wellyshen opened #126 "Flowtype error"
Thank you for this great library, it really help me a lot. But the library will cause some flowtype errors, now I ignore `.*/node_modules/react-native-youtube/.*.ios.js` in my `.flowconfig`, does anyone have greater solution for it?

My flow version is 0.40.0

[2017-03-07 22:41] juergengunz commented on #119
@wcandillon  thanks! but what if I have more than one video, like a feed, on the same view?

[2017-03-08 08:38] wcandillon commented on #119
@juergengunz This is exactly my use case actually! `CardItem` is actually just one item over many. And `state` is encapsulated for each `CardItem`.

[2017-03-08 08:59] juergengunz commented on #119
Make sense. I am kinda new to react and in my mind it will play all videos in that view when "started" is set to "true". How does the encapsulation work?

[2017-03-08 09:02] wcandillon commented on #119
This is how my code looks like:
[code]

And the implementation of `SetCard` is as I wrote above. Does it help?

[2017-03-13 15:38] GedoonS opened #127 "Feature request: Hide annotations with iv_load_policy ?"
The web player offers a parameter to hide annotations: [iv_load_policy](https://developers.google.com/youtube/player_parameters#iv_load_policy). Could it be implemented in the RN module as well? So that giving ivLoadPolicy={3} has the same effect as the web player, it hides the annoying-tations from the player...

[2017-03-14 13:14] gorjanz commented on #114
Any news on a fix for this issue?
perhaps in the v1 pull request?

[2017-03-15 03:46] YuanSyun opened #129 "Black screen when jumping a new page"
**My question**
Hello , YOUTUBE will be black when I jump on the new page. But YOUTUBE can play the video after the screen is reopened.

**My solution**
Do not jump pages.
First hide the contents of the original page, after the show YOUTUBE player in original page.

[2017-03-15 10:46] gorjanz opened #131 "View controls are not shown on Android"
More often than not, the youtube view on Android, loads with only the starting image (cover) of the video, but without any video player controls. Nor the play button, nor the fullscreen mode button, nothing.

As far as I've seen throughout the other issues, this type of behaviour is not reported so-far. Is there something I am missing, or not using the component as intended?

I am using the compon

[2017-03-16 08:35] raffij commented on #121
I'm getting this too.

[2017-03-18 23:08] juergengunz opened #132 "[bug] Low quality on iOS when playing vertical video in portrait mode"
The quality of the video on iOS when playing a vertical video in portrait mode is very low. When I switch to landscape mode and back to portrait the quality is adjusting. Seems like a bug to me.

[2017-03-18 23:16] juergengunz commented on #132
especially when the videos are in portrait mode

[2017-03-20 22:11] davidohayon669 commented on #127
ill look at it soon..

[2017-03-24 09:53] sharnik commented on #63
I don't think it was. I'm still having the same issue on RN 0.39.2 and react-native-youtube 0.8.1. I have to do the manual xcode quick fix every time I run yarn install.

[2017-03-24 16:05] #119 closed

[2017-03-24 16:43] k7k0 opened #134 "iOS: NSException while trying to unmount the component"
Version: 0.8.0
When I try to unmount the component the app crash:

Xcode Error:
[code]

![image](https://cloud.githubusercontent.com/assets/3186957/24307405/c8dd8600-10a2-11e7-9147-d7ddf5cf179d.png)

[2017-03-24 19:27] #134 closed

[2017-03-24 23:22] Jarrio opened #135 "seekTo method is undefined"
I want to be able to set the time but for some reason I do not get access to the `seekTo` method. Printing the reference shows the following:
![image](https://cloud.githubusercontent.com/assets/748557/24316671/f33e894a-10e7-11e7-873b-02d6904c0ccc.png)

And making a reference to it in code via `this.refs.youtubePlayer.seekTo()` (I do null check). I get the following error:

![image](https://cloud.g

[2017-03-25 18:38] juergengunz opened #136 "Auto Play in Fullscreen on iOS is not working"
The player does not switch to fullscreen automatically even though I put playsInline={false} to false. It plays inline instead.

[2017-03-25 21:19] cubbuk commented on #83
@davidohayon669 I am trying to run a video on Android without putting any layer on video but still get the same error. I can only run the video on fullscreen mode which I don't want, is there a way to solve that issue? Also do you know is there a way to play videos from youtube without using the api, or is this the best way possible?
Thanks

[2017-03-25 21:30] davidohayon669 commented on #83
@cubbuk what branch and commit version are you using?

[2017-03-25 21:32] cubbuk commented on #83
I am running master branch version `0.8.1`. I tried to run on branch `v1` but couldn't make it work on Android.

[2017-03-25 21:36] davidohayon669 commented on #83
@ I only worked on v1 and has no problem such as yours as of the [last v1 commit](https://github.com/inProgress-team/react-native-youtube/tree/v1).

Why can't you set up the Android version?

[2017-03-25 21:53] cubbuk commented on #83
I think it got tangled with old version, you are right working with `v1` worked after deleting the old version from `node_modules`. Thanks

[2017-03-29 20:12] fabiancarlos opened #137 "Error service_missing"
having a error service_missing ?? How do i debug that?

[2017-03-29 20:45] davidohayon669 commented on #137
If it means that a YouTube app isn't present on the device (Android)

[2017-03-31 11:49] deqyd commented on #111
Yea, I am having a similar problem. It rebuffers (reloads) the video if the device is rotated.

[2017-04-01 10:53] salmankhann commented on #136
did you manage to fix this ?

[2017-04-03 11:31] bmeverett opened #138 "Play prop only works on load"
The play prop seems to only work when the view is loaded. Once the view is loaded it does not stop the video when set to `false`. Is there a way to expose the YouTube [playVideo](https://github.com/inProgress-team/react-native-youtube/blob/master/YTPlayerView/YTPlayerView.m#L101-L103) and [stopVideo](https://github.com/inProgress-team/react-native-youtube/blob/master/YTPlayerView/YTPlayerView.m#L1

[2017-04-03 12:25] NaleenDissanayake opened #139 "When I click back button it changes orientation after playing video in full Screen mode"
I used this in android project.I used portrait  mode only. but when i play video and then click back button it changes orientation of my project .How do i solve this issue?. I want to use portrait mode only.

[2017-04-03 23:50] fabiancarlos commented on #137
Yes, you are right, on my cellphone works!

[2017-04-03 23:50] #137 closed

[2017-04-05 08:53] ciriac commented on #64
@jeremypagley Still happening for me on Android. I'm only using one <Youtube .../> in my component.

[2017-04-05 23:07] larryranches opened #140 "ios only: onFullScreenEnter and onFullScreenExit not working in the V1 branch"
The onFullScreenEnter and onFullScreenExit functions are NOT working in the V1 branch but it DOES work in Master. Also the functions are working for Android in the V1 branch.

Any ideas?

[2017-04-06 10:29] davidohayon669 commented on #140
those events are not implemented in v1 yet.
I'll probably add it to my next round of finish-ups in coming days

[2017-04-06 10:33] davidohayon669 commented on #139
#133

[2017-04-06 16:27] larryranches commented on #140
@davidohayon669 Thanks! Please update when you can, it's a feature that is needed in my project.

[2017-04-06 18:04] salmankhann commented on #136
@jujumoz I've created a new pull request to address this for iOS 10. Please merge

[2017-04-06 20:12] larryranches commented on #131
@davidohayon669 I don't think it's the case for Master because the video/player DOESN'T WORK and I believe is broken in Master. Video is not being displayed but you can hear audio in the background. Can you confirm this? I'm using a Galaxy S7 fyi.

So I've been working in the V1 branch where the play DOES work and play but intermittently the players controls (pause, fullscreen) will NOT show. It d

[2017-04-07 12:14] davidohayon669 commented on #131
I know about this problem. It also affects my project
I'll probably tackle it in the next round

[2017-04-10 07:54] jujumoz commented on #136
@juergengunz @salmankhann done !

[2017-04-10 07:54] #136 closed

[2017-04-11 12:19] SteveJohnstone commented on #129
I was getting this as well. The work around I used was to add the following to componentDidMount, and use the height and width from the state in my styles:

[code]

[2017-04-11 12:26] SteveJohnstone commented on #135
I'm not quite sure how seekTo ever worked. When looking in the YouTubePlayerController I found this:

[code]

So it looks like the manager calls the view, the view calls the controller, and the controller does nothing. Plus I'm reasonably sure that you can't call methods on UI components in the way that is currently being done, but I'm still investigating that.

[2017-04-11 14:10] davidohayon669 commented on #135
This method is implemented on both platforms the v1 branch

[2017-04-12 09:43] jeanregisser commented on #84
On iOS you can easily allow landscape mode for videos playing in a webview (that's what this library does) even if the rest of the app is portrait mode only.

See http://stackoverflow.com/a/28467104/158525

[2017-04-13 04:09] tomasdelima commented on #64
The same for me, using one simple component with one <YouTube/>

[2017-04-15 14:40] iDams commented on #135
Having the same issue. But the error is `Cannot read property 'seekTo' of undefined` which means that the ref `youtubePlayer` is not defined. Nothing to do with the `seekTo` function I think.

[2017-04-17 08:17] DannyAziz commented on #135
Having the same issue, only on android works perfectly on iOS

[2017-04-17 08:31] iDams commented on #135
Using [v1 branch](https://github.com/inProgress-team/react-native-youtube/tree/v1) fixed it for me

[2017-04-17 08:55] DannyAziz commented on #135
@iDams using v1 branch, not getting the error but seekTo does nothing

[2017-04-17 08:59] iDams commented on #135
Is your video playing when you're trying to seekTo? If it's on paused/stopped, the video will not start with seekTo.

https://developers.google.com/youtube/android/player/reference/com/google/android/youtube/player/YouTubePlayer#seekToMillis(int)

[2017-04-17 09:08] DannyAziz commented on #135
@iDams Perfect, that helped a lot thanks. I was attempting to get the video to start at a particular time and was using the `onReady` event to seek forward but it wasn't actually playing when `onReady` is called. Instead, I used `onChangeState` when the state equals `started`. Just thought I should leave this here in case anyone else gets stuck trying to do something similar

[2017-04-18 08:06] lgandecki opened #144 "Please release 0.8.2"
:-)
just a friendly reminder. We are using manually hacked 0.8.1 now (with this: https://github.com/inProgress-team/react-native-youtube/pull/141/files ), but would rather switch back to the npm package.

Thanks!

[2017-04-18 08:17] iDams opened #145 "[V1] How to add a getter for currentTime on Android?"
Hi,

Since `onProgress` is not available on Android, I would need to get the current time of the video on Android.
I've tried to add it but I got stucked when I need to call the getter from `YoutubeManager.java` in `Youtube.android.js`.

I've done this:
[code]

[code]

[code]

But I don't know how to call the `getCurrentTime()` of `YoutubeManager.java` in `Youtube.android.js`.

If anyone has an id

[2017-04-18 10:39] davidohayon669 commented on #145
Methods with returned values should be implemented as a promise like `videosIndex()`

Look at how `videosIndex()` is implemented at `YouTubeModule.java`

I can probably look at it only in few days

[2017-04-18 13:54] iDams commented on #145
@davidohayon669 thanks.

I did a PR [here](https://github.com/inProgress-team/react-native-youtube/pull/146) in case you want to merge it.

[2017-04-18 17:16] #140 closed

[2017-04-18 17:19] #145 closed

[2017-04-18 17:21] #135 closed

[2017-04-18 17:23] #116 closed

[2017-04-18 17:23] #94 closed

[2017-04-18 17:23] #72 closed

[2017-04-18 18:03] larryranches commented on #140
@davidohayon669 Thank you sooo much!

[2017-04-19 04:25] vesper8 commented on #94
@davidohayon669 hey there! I see you just closed this. Am I to understand that all of your awesome changes have been merged into https://github.com/inProgress-team/react-native-youtube/tree/v1 now? I see you've been making a lot of commits to that branch.

So no longer need to use your fork to benefit from your changes?

[2017-04-19 09:00] davidohayon669 commented on #94
@vesper8 correctomundo

[2017-04-20 16:56] rahmamajed opened #147 "unauthorized overlay top of player and there are only a framelayout on xml"
i have this error out of unknown
please note that i discard all views  on my xml and i am getting this error over and over again even of the xml having just framelayout to display youtube fragment

 YouTubeAndroidPlayerAPI: YouTube video playback stopped due to unauthorized overlay on top of player. The YouTubePlayerView is obscured by com.google.android.youtube.player.YouTubePlayerView{1aa23167 V

[2017-04-21 10:07] longtranista opened #148 "Does not autoplay when change video ID"
I have implemented a player which allowing play by a playlist.
When clicking on the next button, the video ID will change to next video ID,
The youtube player loads the new video successfully but not autoplay.
Any helps?

[2017-04-21 12:19] marcosschroh opened #149 "Video List Feature"
Hi,

Thanks for this good plugin. I was wondering whether is possible to add support to youtube video list.

For example, given the following URL:
https://www.youtube.com/embed/VIDEO_ID?playlist=aaaaaa,bbbbb,cccccc

After the main video was finished, continue with the list of videos in the playlist.

Best regards.

[2017-04-21 18:53] davidohayon669 commented on #149
`npm i react-native-youtube@1.0.0-alpha.3`

[docs here](https://github.com/inProgress-team/react-native-youtube/tree/v1)

[2017-04-21 19:16] #149 closed

[2017-04-21 19:18] davidohayon669 commented on #148
do you `play={true}`?

[2017-04-21 19:19] davidohayon669 commented on #144
done

[2017-04-21 19:19] #144 closed

[2017-04-21 19:21] davidohayon669 commented on #138
try `npm i react-native-youtube@1.0.0-alpha.3`

[README](https://github.com/inProgress-team/react-native-youtube/blob/v1/README.md)

[2017-04-21 19:24] davidohayon669 commented on #125
have you tried next version?
`npm i react-native-youtube@1.0.0-alpha.3 -S`

[README](https://github.com/inProgress-team/react-native-youtube/blob/v1/README.md)

[2017-04-21 19:25] #120 closed

[2017-04-22 06:47] wellyshen commented on #125
@davidohayon669 I tried it, it works as README file, thanks.

[2017-04-22 06:47] #125 closed

[2017-04-23 10:52] oky1 opened #151 "On Android 4.2 video works only after rotation."
PlaysInline cause of fail in Android 4.2. RN 4.3
PlaysInline was 'dropped'... ( message).
I removed playsInline. Video works only after rotation.

[2017-04-23 11:10] davidohayon669 commented on #151
On v1 I changed `playsInline` to `fullscreen` which is exactly the same only opposite. It just makes more sense like that

[2017-04-23 15:34] oky1 commented on #151
I tried fullscreen.
fullscreen={true}  Video working.
fullscreen={false}  Loading with delay.  Video not working ( works only after rotation)

[2017-04-24 21:28] BarakChamo opened #152 "Android not working inline"
I know this issue has been reported (and resolved) in the past but I couldn't find a clear open issue addressing the current issues.

I'm running RN `0.43.3` and tried using both `master` and `v1` of this repo, set to tag `1.0.0-alpha.3`
and testing on Genymotion.

When `fullscreen` is set to `false` or not set, the YouTube player completely doesn't work, not showing the controls or the cover imag

[2017-04-24 22:23] davidohayon669 commented on #152
The Android player is very sensitive when it comes to size and position so I guess it got something to do with this. First of all use just v1, its my implementation and I use it for a commercial product.
Try a bigger size than 200x200, then try to add margins or paddings (v1 adds a default inners padding of `StyleSheet.hairlineWidth` (`YouTube.android.js`) which solved the unauthorized overlay for

[2017-04-25 10:58] BarakChamo commented on #152
Hi @davidohayon669 thanks for helping out 😄

I tried `v1` on both Genymotion running API 23 and on my Nexus 5X and with a player stretched up to the full screen but unfortunately the player still does not show.

Instead, when changing the background of the player in the repo I can see an `o` that immediately turns to an `x` and I can hear the first bit of the audio before it is stopped, which I su

[2017-04-25 10:59] BarakChamo commented on #152
For reference, this is the code for trying a top-level video player as the only component rendered:

[code]

[2017-04-25 11:37] davidohayon669 commented on #152
Try setting up the example in the v1 repo. It's a clean project running RN 0.42 and works fine for me on an emulator and on my 5X.

See how that works and if you can learn from there

[2017-04-25 14:09] BarakChamo commented on #152
I tried the example on `v1`, after fetching, npm installing and linking the repos.

The player still doesn't work:
<img width="478" alt="screen shot 2017-04-25 at 3 09 18 pm" src="https://cloud.githubusercontent.com/assets/2883345/25389693/343fbc80-29c9-11e7-97f2-0b9de149c7c9.png">

this is the output from the log:
[code]

[2017-04-25 14:16] davidohayon669 commented on #152
Notice the error message of the component.. it's pretty verbose

[2017-04-25 21:15] larryranches commented on #131
@davidohayon669 Any update on this?

[2017-04-26 21:45] davidohayon669 commented on #131
@larryranches not yet..

[2017-05-01 23:47] TheIndianRaj commented on #43
Was this fixed?

[2017-05-02 19:37] mxmtsk commented on #64
Wanted to display a video in the cards of the [react-native-tinder-swipe-cards](https://github.com/meteor-factory/react-native-tinder-swipe-cards) package. Getting the same error on Android, really annoying.

I guess still no one found a solution yet?

[2017-05-04 01:11] hasaezs commented on #151
@oky1 @davidohayon669 I have the same issue, any solution for this? Android 4.4, react-native@0.43.3

[2017-05-05 09:31] choungchamnab opened #153 "Not working on Android"
I've implemented successfully in ios but it not working in android. I've added API key but don't know it correct or not because it accepted any value So I can't sure it not working because wrong API key or my code. Can someone provide full tutorial on this implementation ?
`<YouTube
      apiKey="AIzaSyCZs5LGQYP8EL8uQvvpO6SA-cFZs8kHw30"
      ref="youtubePlayer"
      videoId="tAawfiPaTbY"
      p

[2017-05-08 10:39] TheIndianRaj commented on #153
Same problem. Working with iOS, but not android.

[2017-05-08 19:18] a8c71 commented on #153
Same issue here.

`"react-native": "0.43.4",
"react-native-youtube": "^1.0.0-alpha.3",`

[2017-05-09 02:54] BigPun86 commented on #64
+1

[2017-05-09 16:28] davidohayon669 commented on #153
Try to log any error that you might get with the `onError` event callback. Nevertheless its a good practice to use `onError` on such a module that depends on external factors like a correct API Key or the existence of a YouTube app on the device

[2017-05-09 16:33] davidohayon669 commented on #151
Try installing the example in the v1 repo and reproduce what you are doing, if the same error persists let me know what exactly happened

[2017-05-09 16:34] #73 closed

[2017-05-09 16:38] #57 closed

[2017-05-09 16:39] #59 closed

[2017-05-09 16:43] davidohayon669 commented on #64
This problem is solvable with version 1 and up.
The native YouTube instance in android is a singleton and need to be unmounted when leaving a navigation scene and getting back.
More explanations in the [v1 README](https://github.com/inProgress-team/react-native-youtube/blob/v1/README.md)

[2017-05-09 16:43] #64 closed

[2017-05-09 16:44] #98 closed

[2017-05-09 16:48] davidohayon669 commented on #95
Solved in v1
Next time suggest a PR

[2017-05-09 16:48] #95 closed

[2017-05-09 16:49] #85 closed

[2017-05-09 16:50] #86 closed

[2017-05-09 16:53] #69 closed

[2017-05-09 16:56] davidohayon669 commented on #147
What version?

[2017-05-09 17:01] #139 closed

[2017-05-10 11:10] joncursi opened #154 "[v1] BackAndroid is deprecated. Please use BackHandler instead."
I get this yellowbox warning on android when this module is loaded. This looks like the culprit:

https://github.com/inProgress-team/react-native-youtube/blob/v1/YouTube.android.js#L13

[2017-05-10 14:48] Dineshchitta opened #155 "Could not play on Android Pausing after 1 second everytime I plays"
Info :

 "react-native-youtube": "^1.0.0-alpha.3"
 "react": "~15.4.0-rc.4",
    "react-native": "0.42.3"

Usage :

<YouTube
          youtubeVideoId={'myYoutubeVideoId'}
          play
          hidden={false}
          playsInline
          loop={false}
        />

Working in Full screen.

[2017-05-10 14:56] nmartin867 commented on #151
V1 is working well for me.

[2017-05-11 22:57] Jarrio commented on #135
I had to stop working on this project so I couldn't try test things further. I still seem to not be able to make `seekTo` work with the `v1` branch, I updated and I see the following in my `android.js` file:
[code]

[2017-05-11 23:14] Jarrio commented on #135
Update:

It seems like setting `controls=2` means that I can't use the `seekTo` method! This is really awkward, is this due to the youtube plugin or native android? I don't want to provide the full access to the control scheme if at all possible

[2017-05-12 00:29] diogoperillo commented on #153
I get `NO_SERVICE` error.. or something like that...

[2017-05-12 07:20] wcandillon commented on #153
I'm getting `SERVICE_MISSING` on android.

[2017-05-12 07:21] wcandillon commented on #137
@davidohayon669 Does this means that it is a requirement for the phone to have the youtube app installed on the phone?

[2017-05-12 11:52] jmuziki commented on #115
Hi, can you confirm whether this module works with RN 0.42. I was running version 1.0.0.alpha and the video does not load.

![screen shot 2017-05-12 at 1 46 56 pm](https://cloud.githubusercontent.com/assets/7222660/25996942/1eb308fa-371a-11e7-8377-c2ed87907970.png)

I downgraded to version 0.8.1 and that doesn't seem to solve the issue. The player ran fine on initial installation then stopped work

[2017-05-12 13:21] #151 closed

[2017-05-12 14:59] fabiancarlos commented on #137
Yes!

[2017-05-13 16:43] Jarrio commented on #82
Can confirm this is still an issue on the `v1` branch

[2017-05-13 22:06] davidohayon669 commented on #82
@Jarrio @juangl I'm not sure I understand the problem. Do you set `play={true}` and still no video plays?

[2017-05-13 22:07] davidohayon669 commented on #155
What version? Plus there is no `youtubeVideoId` property

[2017-05-13 22:08] davidohayon669 commented on #154
I'll probably get to it sometime

[2017-05-13 22:08] Jarrio commented on #82
Starting the player with `play=false` leads to perpetual loading which can never be updated or started

[2017-05-13 22:10] davidohayon669 commented on #153
@wcandillon @diogoperillo `SERVICE_MISSING` means there is no YouTube app present on the device. You must have the official YouTube app installed on the device to work with the Android plugin.

[2017-05-13 22:10] #153 closed

[2017-05-13 22:12] #152 closed

[2017-05-14 04:33] Dineshchitta commented on #155
sorry.It is videoId only. Which package version you are asking. react-native-youtube ? You can find it in above comment.

"react-native-youtube": "^1.0.0-alpha.3"

[2017-05-14 15:13] davidohayon669 commented on #155
try to log errors `onError={e => console.log(e.error)}`

[2017-05-16 08:06] choungchamnab opened #156 "Video not loading unless rotate device"
I've loaded the video but it not display unless I rotate device. Please guide.

[2017-05-18 08:03] logout0607 opened #157 "[android] java.lang.NullPointerException: at com.inprogress.reactnativeyoutube.YouTubeView.onDetachedFromWindow(YouTubeView.java:44)"
Occurs when you click the back button continuously during YouTube playback.

java.lang.NullPointerException:
  at com.inprogress.reactnativeyoutube.YouTubeView.onDetachedFromWindow(YouTubeView.java:44)
  at android.view.View.dispatchDetachedFromWindow(View.java:13489)
  at android.view.ViewGroup.dispatchDetachedFromWindow(ViewGroup.java:2840)
  at android.view.ViewGroup.dispatchDetachedFromWindow(

[2017-05-18 08:13] logout0607 commented on #157
***** Please change. *****
YouTubeView.java

    @Override
    protected void onDetachedFromWindow() {
        FragmentManager fragmentManager = getReactContext().getCurrentActivity().getFragmentManager();
        if (mYouTubePlayerFragment != null) {
            fragmentManager.beginTransaction().remove(mYouTubePlayerFragment).commit();
        }
    }

    @Override
    protected void onDetached

[2017-05-18 10:41] yogieputra8 commented on #154
https://github.com/react-community/react-navigation/issues/1330

[2017-05-18 18:39] KingjZhang commented on #156
I got the same issue on Android with ReactNative 0.43.3.

[2017-05-18 19:14] KingjZhang commented on #156
I got this error  'Youtube onError', 'UNAUTHORIZED_OVERLAY'

05-18 15:14:12.311 22662 22732 I ReactNativeJS: 'Youtube onReady', { target: 533 }
05-18 15:14:12.426 22662 22732 I ReactNativeJS: 'Youtube onChangeState', 'stopped'
05-18 15:14:12.427 22662 22732 I ReactNativeJS: 'Youtube onChangeState', 'loading'
05-18 15:14:12.855 22662 22732 I ReactNativeJS: 'Youtube onChangeState', 'started'
05-18 1

[2017-05-20 12:06] berdof opened #158 "Expo support?"
I tried out to use this library with expo but stuck with an error.
Are there any plans for expo support?

[2017-05-20 12:32] gerardcuadras commented on #156
Same here: UNAUTHORIZED_OVERLAY
Only works if I set:

but I don't want the video to start in full screen.

I don't have anything else in the view. Only the Youtube component.

[2017-05-21 20:15] davidohayon669 commented on #158
I'm not familiar with Expo.
If anybody is willing to add the support, you're welcome

[2017-05-22 10:26] Dineshchitta commented on #155
When I Worked on it again. This time I got error like playsInline prop is dropped like that.So I Removed that prop and now it is playing continuously.

[2017-05-22 10:27] Dineshchitta commented on #155
When I Worked on it again. This time I got error like playsInline prop is dropped like that.So I Removed that prop and now it is playing continuously.

[2017-05-22 10:29] Dineshchitta opened #159 "Black screen after scrolling down and coming back to video view"

[2017-05-22 10:30] #155 closed

[2017-05-22 16:02] davidohayon669 commented on #159
Not enough background info

[2017-05-22 16:05] davidohayon669 commented on #157
added e16b345ff00a5b5df3dc4eaaee7a3bccde0fd433

[2017-05-22 16:05] #157 closed

[2017-05-23 04:28] waterdoo commented on #131
+1, I'm missing a play and a pause button.

[2017-05-23 09:06] greenyossi opened #160 "Android Player with PanResponder events"
Hi,

I'm trying to apply touch events to the youtube player and added a PanResponder to the RCTYouTube component.

On iOS this works fine, but on android, on some devices the entire player is responsive to the touch events (Galaxy S6, 5.1.1) but on other devices (LG-G4 5.1.1, LG_G5 7.0, Galaxy S7 7.0) only the bottom third of the player is responsive.

Do you have any clue why on one device the pl

[2017-05-24 09:09] Dineshchitta commented on #159
Versions :

    "react-native-youtube": "^1.0.0-alpha.4",
    "react": "~15.4.0-rc.4",
    "react-native": "0.42.3",

I integrated youtube player as given example in readme.md. When I opened it works fine. When I scroll down and come back that video player is becoming black . I am putting that view in ListView

[2017-05-24 14:48] abbasfreestyle opened #161 "UNAUTHORIZED_OVERLAY Android bug"
Currently experiencing this issue on Android. iOS is working fine.

Running:
react native: 0.44
react-native-youtube: 1.0.0-alpha-4
Device: Galaxy Note 5 (real device)

I always get UNAUTHORIZED_OVERLAY error when playing the video inline, it just shows a black screen, no controls whatsoever.
If the video starts as fullscreen it works perfectly fine, as soon as it goes inline it complains.

I've u

[2017-05-24 15:31] bendellarocco commented on #85
Was there a resolution to this issue?

[2017-05-25 05:10] hasaezs commented on #161
Same error using the branch v1. Just work when rotate the device.

RN: 0.44.0
react-native-youtube: 1.0.0-alpha.3

[2017-05-25 13:41] moorthysubu opened #162 "BackAndroid is deprecated. Please use BackHandler instead."

[2017-05-26 01:48] bernatfortet opened #164 "How to stop video and lave fullscreen"
I want to programatically stop the video and minimze/leave fullscreen when it reaches a specific time.

How could I do that?

Thanks.

[2017-05-31 10:29] binkkatal commented on #161
https://stackoverflow.com/questions/31638871/video-pausing-with-error-unauthorized-overlay

the developer must look a solution for this in the above link

[2017-06-01 09:38] moorthysubu commented on #159
Yes. Am also facing the same issue. anyone knows the solution for this? @Dineshchitta

[2017-06-01 14:57] a8c71 commented on #153
`onError` is not displaying a message for me, instead a warning at the begining is shown:
`Warning: Native component for "ReactYouTube" does not exist`

Youtube App is installed in the Android devices I've tested, iOS is working as intended.
Any ideas?

[2017-06-02 07:45] longtranista commented on #148
Yes, but  play={true} only effect when first init, it does not effect on the fly

[2017-06-02 16:03] oskarrough commented on #153
@a8c71 I believe you have to run `react-native link` after `yarn/npm install`.

[2017-06-02 16:25] a8c71 commented on #153
@oskarrough I already did that, as its working in iOS.
Reinstalled node packages and relinked as well with no luck.

[2017-06-03 14:46] wellyshen commented on #164
@bernatfortet use a state to control the property of fullscreen.

[2017-06-05 20:43] smsmdida opened #167 "app crashed when place Youtube component inside a modal "Android""
The component renders fine on IOS but on Android it crashes without any errors !

"react": "16.0.0-alpha.6"
"react-native": "0.44.2"

[2017-06-06 20:50] bethqiang commented on #156
Has anyone found a solution to this? The `fullscreen={true}` works for me, but it's not necessarily what I'd call preferable. 😅

[2017-06-06 20:51] bethqiang commented on #161
Has anyone found a solution to this? The rotating works for me, but it's not necessarily what I'd call preferable. 😅

[2017-06-07 20:07] asgvard commented on #161
I gave up to be honest, tried to remove `<Text>` in `Youtube.android.js`, because it seems to absolutely positioned, but it didn't solved an issue. There is also a comment [here](https://github.com/inProgress-team/react-native-youtube/blob/master/YouTube.android.js#L186), but it doesn't seem to protect us anymore :)
For now I've just embedded YT player in the WebView. As simple as this:
[code]
I k

[2017-06-08 04:24] Dineshchitta commented on #159
Nope .  We couldn't figure out why it is happening @moorthysubu

[2017-06-08 12:28] Dineshchitta commented on #159
@davidohayon669 When I tried with normal scrollview it worked fine. But when I put it in ListView I am getting that issue

[2017-06-09 00:18] tafelito commented on #161
The problem with this issue seems to be the status bar. I'm using react-native-navigation that supposedly allows you to hide the SB but its not working.

Anyone found any other solution yet?

[2017-06-09 00:22] tafelito commented on #161
Ok I actually was able to hide the status bar using StatusBar from react-native, but the problem persists, still same error

[2017-06-09 05:05] tafelito commented on #156
same error here. Duplicate of #161

[2017-06-10 00:43] die20 opened #170 "Android onProgress method alternative"
Hey,

I'm looking to use this library for a cross-platform app but I noticed that onProgress is not supported on android. Are there any alternatives to getting the current video time on android?

[2017-06-10 01:09] die20 commented on #170
I just noticed that on Youtube.Android.js there is a currentTime() method, could it be that the docs are just not updated to show currentTime() is available on Android?

[2017-06-10 18:54] #170 closed

[2017-06-11 12:42] davidohayon669 commented on #170
Done

[2017-06-11 14:56] die20 commented on #170
:) Awesome.

The reason I closed the issue is because I noticed that currentTime was available on android and not on iOS - I'd prefer to have a single method for getting the current time instead of having to use onProgress for iOS and currentTime for android --- So I forked and made an update that exposes currentTime on iOS.

I'll make a PR in case you want to add it to the plugin as well.

[2017-06-11 23:16] Rufyi opened #172 "Redline on the left"
When I am trying to use the YouTube component it doesn't show the video, I am on android so I did the API key part as well, but it still doesn't work.

![untitle123d](https://user-images.githubusercontent.com/22434695/27015358-0d2e2344-4eda-11e7-8552-bb47453505a2.png)

[code]

[2017-06-11 23:24] #172 closed

[2017-06-12 03:56] reyhaan commented on #161
I think I might have found the reason for this error. I was running logcat and found this log that actually gave me a hint. So what I did was I just subtracted 2px width from YouTube player and voila!!! Its working perfectly.

I am actually using react-native-drawer.

![screen shot 2017-06-11 at 11 51 55 pm](https://user-images.githubusercontent.com/6863511/27018806-30e2d268-4f01-11e7-8bf4-683b56e

[2017-06-12 06:11] hasaezs commented on #161
@reyhaan Where you subtract the px? I tried directly in the styles and doesn't work.

[2017-06-12 10:47] ben54260 commented on #161
I solved this problem by change the height in the styles after onReady event be triggered.
(initial height is 301)

`onReady={e => this.setState({ height: 300 })}`
` style={{ alignSelf: 'stretch', height: this.state.height, backgroundColor: 'black', marginVertical: 10 }}`

[2017-06-13 02:11] wellyshen opened #173 "Feature request: setPlaybackQuality"
Could it possible to add the feature of set playback quality. Some user may care about their data usage, I think this feature is helpful for saving their data usage. Thanks.

[2017-06-13 02:56] tafelito commented on #161
@reyhaan how could you see those logs? I did react-native logs and I don't see those errors.

I also run the example app as it is now and that one works, then I upgraded to the latest RN version, without doing any other change and then it stops working throwing that error. How could the height be different only by changing RN version?

[2017-06-14 11:58] maltz opened #175 "How to set playback rate"
How do I set playback rate?
This node package can set playback rate.
https://github.com/react-native-community/react-native-video#usage
[code]

Can react-native-youtube set playback rate also?

[2017-06-14 15:46] barron9 opened #176 "example is not working"
The development server returned response error code: 500

URL: http://10.0.2.2:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false

Body:
{"from":"/Users/barron9/Downloads/react-native-youtube-master/YouTube.android.js","to":"react","message":"Unable to resolve module `react` from `/Users/barron9/Downloads/react-native-youtube-master/YouTube.android.js`: Module does not exis

[2017-06-16 14:01] abbasfreestyle commented on #161
Thank you @ben54260 !

This solved the problem, the videos are loading as expected and can toggle fullscreen with no issues. Strange why we need to do this, Android Youtube is a diva.

Closing

[2017-06-16 14:31] davidohayon669 commented on #161
@abbasfreestyle The Android module really is pretty sensitive

[2017-06-17 13:01] piyush565 commented on #2
/Users/../node_modules/react-native-material-kit/iOS/RCTMaterialKit/TickViewManager.m:9:9: 'React/RCTViewManager.h' file not found

can anybody help me with this.? build gets failed in this

[2017-06-17 19:43] davidohayon669 commented on #176
That is a React Native problem

I would follow the suggestions in the error message

[2017-06-17 19:43] #176 closed

[2017-06-17 19:45] davidohayon669 commented on #175
It depends on the platform specific YouTube module

[2017-06-17 19:47] #175 closed

[2017-06-17 19:51] davidohayon669 commented on #167
Try logging the console https://facebook.github.io/react-native/docs/debugging.html#accessing-console-logs

[2017-06-17 19:54] davidohayon669 commented on #164
Probably a combination of `onProgress` on iOS / `currentTime` on Android and some custom code. This kind of functionality is not a part of the component's API

[2017-06-17 19:54] #162 closed

[2017-06-17 20:01] davidohayon669 commented on #159
@Dineshchitta To my understanding, the components in a ListView gets mounted and unmounted to save memory. Try `removeClippedSubviews={false}` on the ListView, but this doesn't sound like a problem with this package

[2017-06-17 20:03] davidohayon669 commented on #154
#177

[2017-06-17 20:03] #154 closed

[2017-06-17 20:04] davidohayon669 commented on #148
@longtranista paste the full JSX

[2017-06-17 20:22] davidohayon669 commented on #111
Version? Platform?

[2017-06-17 20:22] #114 closed

[2017-06-17 20:52] #138 closed

[2017-06-17 20:58] davidohayon669 commented on #153
@a8c71 try setting up the example in this repo and see if the same behavior persist

[2017-06-19 10:46] ishita-kothari opened #179 "BackAndroid is deprecated. Please use BackHandler instead."
When implement the youtube package, I am facing the error of backandroid is deprecated. I think navigation has solved this issue but with youtube package I am still facing the error. I can see just the blank black screen in my android device.

The file YouTubeAndroid.js uses backAndroid events.

Dependencies are:
"react-native-youtube": "^1.0.0-alpha.4",
    "react-navigation": "^1.0.0-beta.11",

[2017-06-19 14:50] venkat-waran opened #180 "Is this will work for ReactNative 0.44.0 version?"

[2017-06-19 17:38] tafelito commented on #161
@abbasfreestyle How's this solved? I just tried what @ben54260 said in the example project running on RN 0.45 and I still have the same issue. Did you change anything else other than that? What version of RN are you using? Have you tried running the example?

[2017-06-19 18:12] davidohayon669 commented on #180
Should work

[2017-06-19 18:12] #180 closed

[2017-06-19 18:13] davidohayon669 commented on #179
#177

[2017-06-19 18:13] #179 closed

[2017-06-19 20:59] reyhaan commented on #161
@tafelito can you try making those value 1 i.e. top:1, bottom: 1, right:1, left: 1 ? I am just guessing though!

[2017-06-20 03:58] tafelito commented on #161
@reyhaan Same thing. It gives the error
[code]

Not sure why it complains about a ReactTextView, cause I removed any extra view other than the YouTube player

[2017-06-20 04:30] tafelito commented on #161
Ok I found the issue. On the YouTube.android.js there is a TextView. I removed it and now it's working. Seems like that is not needed anymore, unless I'm missing anything

[2017-06-20 11:47] ishita-kothari opened #181 "Not working in Android"
I have "react-native-youtube": "^1.0.0-alpha.4" package. I don't want to play the video in full screen. Once the video exists full screen mode, it stops playing after 1 second.  Can anyone please guide me to solve this issue?

[2017-06-21 04:04] ben54260 commented on #181
we solve this issue there
#161

[2017-06-21 04:07] jm555jm commented on #161
According to youtube SDK  website:

This rule make me crazy, too. =(

[2017-06-21 14:39] a8c71 commented on #153
@davidohayon669 The example did not work for me on Android, the video view shows the same as in my App (black screen, red bar on the left border).

I ended up using WebView for the Android case, not ideal but works for now.

[2017-06-21 18:38] shashikant23 opened #182 "Youtube showing black and white area (React native 0.40 and 0.42)"
<img width="364" alt="screen shot 2017-06-22 at 12 06 02 am" src="https://user-images.githubusercontent.com/10278617/27400767-cb7477b6-56de-11e7-92d6-174c407b0fe6.png">

[2017-06-21 19:44] davidohayon669 commented on #161
@jm555jm I had to hack a lot of stuff in this library to make the Android version behave sufficiently

[2017-06-21 19:47] davidohayon669 commented on #182
Did you include the `assets/YTPlayerView-iframe-player.html` in your `.pbsproj`?

`rnpm link` should to it automatically. follow the instructions.

[2017-06-21 19:51] davidohayon669 commented on #181
@ishita-kothari RN version?

[2017-06-22 01:59] tafelito commented on #161
thanks @davidohayon669 that would be great!

[2017-06-22 03:45] shashikant23 commented on #182
hi rnpm doesn't work. After following https://github.com/inProgress-team/react-native-youtube/issues/79 it works. Thanks

[2017-06-22 04:25] ishita-kothari commented on #181
@davidohayon669 RN v 0.45.1. In webView I am not able to have full screen option with youtube player. Is there any other solution?

[2017-06-22 06:07] ishita-kothari commented on #167
@davidohayon669 do you have any updates? I am also facing the same problem. I am trying every possible way to run youtube on android but everything fails. Please do provide me a proper solution.

Thanks!

[2017-06-22 06:51] maltz commented on #175
Sorry. I talked about not quality but speed.

[2017-06-22 09:29] kamalk333 commented on #131
I'm facing this same issue on my android phone.

[2017-06-22 10:07] davidohayon669 commented on #182
@shashikant23 you need to have rnpm installed on your global npm

[2017-06-22 10:07] #182 closed

[2017-06-22 10:09] davidohayon669 commented on #175
@maltz the official YouTube plugins we use in this component do not provide this kind of functionality

[2017-06-22 10:11] davidohayon669 commented on #181
@ishita-kothari I'm working on a fix

[2017-06-22 10:11] #181 closed

[2017-06-23 07:30] kamalk333 commented on #172
link your react-native-youtube package with the project. I faced this similar thing when I tried to run the application without linking.

[2017-06-23 07:31] kamalk333 commented on #111
I had this similar issue, v0.41 android (marshmallow)

[2017-06-23 07:38] kamalk333 opened #183 "Native youtube buttons goes off the screen sometimes."
I am facing one issue here on my android platform with react native version 0.41 that sometimes the native youtube buttons gets hidden and sometimes it reappears after reload.

Don't what is causing this issue to appear. I'm also facing some design issue that the moment I come back from fullscreen mpode the loader shifts itself to bottom right corner. And the option button doesn't work too first t

[2017-06-23 11:14] mikelambert commented on #158
AFAIK, Expo is a way to run apps that don't require native-linked libraries. RN-YT is a native-linked library, so it won't work in Expo. Unless Expo decides to include RN-YT (and you'd have to discuss that with the Expo team). Or unless you decide to export your Expo app to ExponentKit (I think that's the correct route.)

You're of course welcome to use the YT iframe in a RN WebView, which I belie

[2017-06-23 13:42] yspychala commented on #164
I guess you can use the remaining time using the onProgress event. For example:

[code]

[code]

Set the remaining time (10s before the end).
[code]

And you can use the state to also stop the video.

[2017-06-24 03:08] bernatfortet commented on #164
@davidohayon669, @yspychala have you tried these solutions?

When I try to make the fullscreen prop dynamic it doesn't work.

[2017-06-24 11:11] bbeckk commented on #153
same issue here in android device. black screen, red bar on the left border. Ps. I've youtube player installed in my device.
 Warning :
1. Native component for "ReactYouTube" does not exist
2. View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead.
3. BackAndroid is deprecated.  Please use BackHandler instead.

[2017-06-24 17:30] DeviousM commented on #161
@davidohayon669 did you manage to push it already? It's kinda killing purpose of the app I'm creating at the moment 😛

[2017-06-24 21:22] davidohayon669 commented on #161
@DeviousM @tafelito try alpha.6

[2017-06-24 21:31] #129 closed

[2017-06-24 21:35] #77 closed

[2017-06-24 22:01] davidohayon669 commented on #183
#131 #74

[2017-06-24 22:01] #183 closed

[2017-06-24 22:05] davidohayon669 commented on #164
@bernatfortet The iOS version cannot change fullscreen mode through the API without `reloadIframe()`. The fullscreen prop is a parameter that is used in the initiation of the inner iFrame and when replacing it you should also initiate a refresh of the inner iFrame

[2017-06-24 22:07] davidohayon669 commented on #156
#161

[2017-06-24 22:07] #156 closed

[2017-06-25 00:55] bernatfortet commented on #164
Got it. I'll give it a try

[2017-06-25 13:52] davidohayon669 commented on #153
@bbeckk Did you connected the libraries with `react-native link`?

[2017-06-25 15:34] DeviousM commented on #161
@davidohayon669 - unfortunately, problem persists.

[2017-06-25 15:49] davidohayon669 commented on #161
@DeviousM are you sure it isn't covered in any way? what do you get when you try the example in this repo?

[2017-06-25 20:12] chrissbendel commented on #161
I've been following this issue as it unfolds and also am having the same trouble.
If you need more information I hope I could help at least a little bit.

Project is using nativebase layouts (<Container> </Container> as a main wrapper for each component). Video loads up fine and plays for half a second then immediately stops with the overlay  error.

[code]

[2017-06-26 08:22] DeviousM commented on #161
@chrissbendel - I have exactly the same issue. Also using the NativeBase & react-native-router-flux & drawer component. Don't know if it has anything to do with it.

[2017-06-26 13:42] chrissbendel commented on #161
@DeviousM i was spending the entire day yesterday ripping my hair out in frustration. Seems like even loading JUST the youtube player with no other views/containers on top of it inside of a nested scene I get the overlay error with JUST ~150px for the top of the youtubeplayer container, but when i try to either move the player down with margin top, margin vertical, padding, or anything else, then

[2017-06-26 15:33] chrissbendel commented on #161
I can confirm this is being caused by the wrapping drawer component @DeviousM . After removing the drawer seems that things work just fine... now to figure out how to integrate it without it causing issues

[2017-06-26 16:42] chrissbendel commented on #161
Hey @DeviousM , I think i've found a solution (this bug doesn't seem to be on the react-native-youtube lib, but rather with the wrapping drawer). If we have a similar setup (with a drawer wrapping the entire content of the app and all nested scenes), try doing something like this to your tweenHandler prop in the Drawer (assuming you're using react-native-drawer).

[code]

[2017-06-26 17:22] tafelito commented on #161
@DeviousM I just tried the example app with the alpha.6 and it's working fine for me.
But I tried it within my app that uses react-native-navigation and it's not working. I'm trying to figure it out what the issue could be.

Thanks for the update anyway

[2017-06-26 17:48] abbasfreestyle commented on #161
Exactly the same with me. It worked for me on the deprecated navigation. But It doesnt work with react-native-navigation

[2017-06-26 18:07] tafelito commented on #161
Yeah and this is the error is giving

`YouTube video playback stopped due to unauthorized overlay on top of player. The YouTubePlayerView is obscured by com.reactnativenavigation.views.SnackbarAndFabContainer{80e301 V.E...... ........ 0,0-1440,2464}. YouTubePlayerView is completely covered, with the distance in px between each edge of the obscuring view and the YouTubePlayerView being: left: 2, to

[2017-06-26 23:13] davidohayon669 commented on #161
@tafelito @abbasfreestyle you must think of any view that might be blocking the youtube view or even just too close to it. If the example in the repo works for you than the problem must be in your app's view heirarchy

[2017-06-27 01:49] tafelito commented on #161
@davidohayon669 I think the problem with react-native-navigation and probably other navigation libraries that uses the same logic, is that all the content is put inside a parent layout, where then you get access to the FAB or the snackbar or even the drawer. So the relative layout that the player uses, ends up within the main layout, hence it complains being covered.

I'm not completely sure about

[2017-06-27 03:07] Hinaka commented on #153
@bbeckk I got the same issues as you. I solved it by adding this line:
`compile project(':react-native-youtube')`
inside android\app

[2017-06-27 14:16] natour commented on #161
This not working, even using the sample example. I was never able to get the video running (One sec then it pauses again) giving UNAUTHORIZED_OVERLAY
I took out all other components, nothing else except the Youtube. Tried to adjust margins as well; but still same result.

[2017-06-27 15:43] chrissbendel commented on #161
@davidohayon669 going back to my examples and issues, it ended up working but then when I try to use any of the callback methods (onChange, onReady) to use the seekTo(time) method the error comes back (android). Could there be something happening under the hood where when we target the player by it's ref it changes the layout of the android youtube player? it works without trying seekto, but as so

[2017-06-27 19:22] davidohayon669 commented on #161
@chrissbendel @natour @tafelito I've tried to elaborate on the issue [here](https://github.com/inProgress-team/react-native-youtube#known-issues) with what I know so far. Please make an effort and try the example app so you can eliminate at least some causes before we discuss them here.

[2017-06-27 19:50] tafelito commented on #161
@davidohayon669 I tried the example app and it works fine for me. I also added react-navigation to the sample app and it also works ok.

As I said before, the problem seems to be having some of views or layouts on top of the `RelativeLlayout` that RNY uses. At least that's what I see it's happening with `react-native-navigation`

The difference is that RN it's a pure JS library, so I don't think t

[2017-06-27 20:03] tafelito commented on #161
Ok I take back what I just said. It does work with react-navigation, but not always.

If I start the video below the NavBar, it plays fine. Then if I scroll while playing and the video ends up behind the NavBar, it stops, giving the same error.

Some screenshots

![img_5705](https://user-images.githubusercontent.com/5973652/27607501-11298e0a-5b52-11e7-8ed4-d74f4439812a.jpg)

![img_5707](https://us

[2017-06-27 22:53] davidohayon669 commented on #161
@tafelito This was always the same. The minute the player is covered it stops playing.

[2017-06-27 23:31] tafelito commented on #161
you are right @davidohayon669, jus tested with an Android project using the native YouTubePlayer sdk and it does the same thing.

[2017-06-28 11:08] Kunigaikstis commented on #83
Having the same issue just now as well. The YouTube component was wrapped in a ScrollView which, I thought, might be the reason why it keeps playing and then suddenly stopping. I had to wrap it in a view as I need another component on the screen. Still keeps doing the same thing. Furthermore, even if I set play={false} in the props - it still plays the video automatically. Running "react-native-yo

[2017-06-28 12:58] pallavisingh1511 commented on #167
@davidohayon669 Has this been fixed yet?

[2017-06-29 04:54] ben54260 commented on #74
If youtubePlayer controls not on the view. After changed youtubePlayer size, when next time controls show will not fit the youtubePlayer view.
But if change youtubePlayer size when youtubePlayer controls is showing, it run very well without this problem

[2017-06-29 08:53] nimamyscreen commented on #161
I test the example with react native navigation , problem persist.

[2017-06-29 09:38] davidohayon669 commented on #83
@Kunigaikstis what error do you get, if any?

[2017-06-29 09:39] davidohayon669 commented on #167
@pallavisingh1511 I don't understand the problem

[2017-06-29 09:42] davidohayon669 commented on #161
@nimamyscreen gather as much relevant information you can

[2017-06-29 10:39] nimamyscreen commented on #161
In logcat I get this warning when I push the screen by navigator
[code]

when I try to open the youtube component inside a modal, the app completely crash and exit. I get this error in logcat

[code]

I even removed drawer but problem persist.

"dependencies": {
    "axios": "^0.16.1",
    "react": "16.0.0-alpha.6",
    "react-native": "0.44.0",
    "react-native-youtube": "^1.0.0-alpha.6",
    "r

[2017-06-30 06:25] pallavisingh1511 commented on #167
@davidohayon669
So, I've a button on the home screen. Upon clicking that button a modal appears and a video plays in that modal.
Now, this setup works perfectly fine on iOS.
But on Android, the app crashes whenever the modal opens.

react-native: 0.45.1

[2017-06-30 13:56] davidohayon669 commented on #167
@pallavisingh1511 what home screen? what is a modal and how is it mounted and displayed?
provide more code

[2017-06-30 14:01] davidohayon669 commented on #161
@nimamyscreen try delaying the mounting of the `<YouTube />` to after the navigation ended. Maybe the animation of the navigation disrupts the native component.

I would try to find some event to attach to, or just try 500-1000ms delay just to test if the problem got anything to do with the navigation event

[2017-06-30 14:13] smsmdida commented on #167
Guys I fixed that by using react-native-popup-dialog rather than react native built in modal

[2017-07-03 06:24] pallavisingh1511 commented on #167
Hey @davidohayon669,
Following is the code.
Here, when the image is pressed, the modal opens and plays the video.
On iOS it works as expected, while on android the app crashed once the image is pressed.

`<TouchableHighlight onPress={() => {
								this._playVideo(!this.state.modalVisible)
								}}>
	<Image source={{uri: this.props.video.imageURL}} style={styles.videoImage} />
</TouchableHighli

[2017-07-03 19:26] johnckendall commented on #131
FWIW:  I've created a project that has one screen that has only this one component styled exactly like the example (See code below).  I consistently get the following behavior on both Android 4.1 on a motorola razr and on Android 7.1.1 in an emulator:

With play=true, controls=1, fullscreen=false
. Comes up with a black rectangle of the appropriate dimensions
. Has no controls
. emits OVERLAY erro

[2017-07-03 21:57] davidohayon669 commented on #167
Log for any error on `onError`, and [log the device / emulator console](https://facebook.github.io/react-native/docs/debugging.html#accessing-console-logs) with `react-native log-android`

[2017-07-04 08:30] lra-tapptic commented on #167
Having exactly the same problem : App crash when the play is in a Modal (but otherwise not)

Here is the log from logcat:

`07-04 10:28:06.498 24362 24362 E FragmentManager: No view found for id 0x5a9 (unknown) for fragment YouTubePlayerFragment{24c7ff0 #0 id=0x5a9}
07-04 10:28:06.498 24362 24362 E FragmentManager: Activity state:
07-04 10:28:06.500 24362 24362 E FragmentManager:   Local Activity

[2017-07-04 09:10] davidohayon669 commented on #167
The crash seems to be here:
[code]
But I still cannot gather enough information from this log

Try delaying the mounting of the `<YouTube />` instance to after you are sure everything belonging to the Modal has mounted/animated

[2017-07-04 09:17] lra-tapptic commented on #167
I did try to delay the mounting of the component (15 seconds after the modal componentDidMount fired) but still the same result:

<details>
<summary>Logtcat</summary>
07-04 11:14:16.467 25101 25101 E FragmentManager: No view found for id 0x602 (unknown) for fragment YouTubePlayerFragment{62b64bc #0 id=0x602}
07-04 11:14:16.467 25101 25101 E FragmentManager: Activity state:
07-04 11:14:16.468 25101

[2017-07-04 09:27] pallavisingh1511 commented on #167
@davidohayon669
Could you please try with the snippet that I've shared? The log is not explanatory enough for me as well

[2017-07-04 09:49] davidohayon669 commented on #131
@johnckendall If you got it on a fork I can take a look

[2017-07-04 09:51] davidohayon669 commented on #167
@pallavisingh1511 put the project on some fork or a new girtub project and I'll take a look

[2017-07-04 13:05] pallavisingh1511 commented on #167
@davidohayon669 Please check this
[https://github.com/pallavisingh1511/reactNativeVideo](url)

[2017-07-04 13:06] pallavisingh1511 commented on #167
@davidohayon669 Please check this

[](https://github.com/pallavisingh1511/reactNativeVideo)

[2017-07-04 14:21] #159 closed

[2017-07-04 14:28] Dineshchitta opened #186 "App crashes when calling youtubePlayer.currentTime()"
Attempt to invoke interface method int com.google.android.youtube.player.YoutubePlayer.getCurrentTimeMillis()' on a null object reference

YoutubePlayerController : 152 line

Using versions :
 "react": "~15.4.0-rc.4",
 "react-native": "0.42.3",
 "react-native-youtube": "^1.0.0-alpha.6",

Trying to access like this

[code]

[2017-07-04 18:54] davidohayon669 commented on #186
@Dineshchitta seems like you are calling this method too soon. Of course it shouldn't cause a crash but anyway try calling methods after the `onReady` event

[2017-07-05 12:01] madhuA14 commented on #153
I had same issue solved with below steps,

**settings.gradle**
include ':node_modules'
include ':react-native-youtube'
project(':react-native-youtube').projectDir = new File(rootProject.projectDir, '/node_modules/react-native-youtube/android')

**app/build.gradle**
compile project(':react-native-youtube')

addPackage(new ReactNativeYouTube()) in your MyReactActivity.

[2017-07-05 14:15] Dineshchitta commented on #186
yes.Thank you @davidohayon669

[2017-07-05 14:15] #186 closed

[2017-07-05 16:43] davidohayon669 commented on #153
@madhuA14 This is exactly what `react-native link` does

[2017-07-06 10:03] pallavisingh1511 commented on #167
@davidohayon669 Could you check this?

[2017-07-06 19:57] johnckendall commented on #131
ok, I created a fork and updated RCTYouTubeExample with the code above if you still want to check it out.  Thanks.

[2017-07-06 20:02] johnckendall commented on #161
FWIW, After trying the above to no avail, I removed all navigation by creating a single page with just the youtube component on it and I still get these errors.  See my comment on #131
My belief is there is some bug in the underlying Android Native youtube player that will need to be addressed.

[2017-07-10 10:27] ishita-kothari opened #187 "player don't show controls"
Hello,

I have update your package to "react-native-youtube": "^1.0.0-alpha.6". I am able to play the video at times but few times controls are not shown on android device and hence unable to play video. Also when I build my app, I am not able to play video.  Controls are not displayed in released app.

code is:
<ScrollView>
                <YouTube
                    ref={(component) => {

[2017-07-10 17:34] davidohayon669 commented on #187
#131

[2017-07-10 17:34] #187 closed

[2017-07-10 18:25] davidohayon669 commented on #167
@pallavisingh1511 This problem happens probably because the <Modal /> component in Android is implemented with a Dialog and there is a layout mismatch. Everyone is invited to tackle this.

For now I suggest you use the `YouTubeStandaloneAndroid` API I added yesterday, in its lightbox mode it should very much resemble what you tries to do.

[2017-07-11 07:07] ishita-kothari commented on #187
I am still not able to run the video with controls. Can anyone give me proper solution?

[2017-07-11 08:30] davidohayon669 commented on #187
@ishita-kothari there is a reason #131 is labeled "bug"

[2017-07-11 08:33] #164 closed

[2017-07-11 08:34] #147 closed

[2017-07-11 14:10] wack17s commented on #187
@ishita-kothari
this hack works for me
`export default class extends Component {
    state = {
        height: 215
    }

    handleReady = () => {
        setTimeout(() => this.setState({ height: 216 }), 200);
    }

    render() {
        return (
            <YouTube
                apiKey   = {config.YOUTUBE_API_KEY}
                ref      = {item => this.player = item}
                video

[2017-07-11 14:12] wack17s commented on #131
this hack works for me
[code]

[2017-07-12 04:32] ishita-kothari commented on #187
@wack17s thank you. Seems this hack worked.

[2017-07-12 11:44] ishita-kothari opened #189 "controls not in position"
Hello,

Youtube player works fine in my app. When the fullscreen is turned off and the video is playing, the controls are not in position. Changing the state of player, changes the orientation of controls. I have tried the solutions given in other issues but no luck.

 Can anyone help me solve this issue?

Thanks!

[2017-07-12 13:07] davidohayon669 commented on #189
#74
try keeping similar problems in one issue

[2017-07-12 13:07] #189 closed

[2017-07-12 13:11] ishita-kothari commented on #189
this solution does not seem to work.

[2017-07-12 16:23] davidohayon669 commented on #189
@ishita-kothari I gave you no solution, I only ask to discuss this problem in the dedicated issue thread

[2017-07-13 04:25] ishita-kothari commented on #74
Hello,

Youtube player works fine in my app. When the fullscreen is turned off and the video is playing, the controls are not in position. Changing the state of player, changes the orientation of controls. I have tried the solutions given in other issues but no luck.

Can anyone help me solve this issue?

Thanks!

[2017-07-13 05:17] Dineshchitta opened #191 "Skipping previous scene without popping onBackPress in Full screen"
I am having 3 scenes flow like this A -> B -> C

A Scene : This is the scene where I will select video

B Scene : In this scene when user clicks play button I will navigate to Scene C

           `NavigationActions.sceneC();`

C Scene : In this scene I will defaultly play youtube video in full screen mode like below

[code]

Here the problem is After getting into Scene C when I press back button I

[2017-07-13 06:21] jariwalabhavesh opened #192 "Video not starting in ios"
I had try react-native-youtube player. It is working with android, but it is not playing video in ios simulator, It shows "An Error occurred. Pleased try again Later".
Here is screenshot of ios simulator.

![screen shot 2017-07-13 at 11 48 44 am](https://user-images.githubusercontent.com/10993666/28153145-8cce5a6a-67c1-11e7-88c1-2e4442d53be3.png)

Same video is playing in android code.

[2017-07-13 09:34] davidohayon669 commented on #192
@jariwalabhavesh what props do you send the component?

[2017-07-13 11:40] jariwalabhavesh commented on #192
@davidohayon669
i am using same code provide in example of this library
[code]

[2017-07-13 11:52] davidohayon669 commented on #191
@Dineshchitta Is it the hardware Android back button of the back button of the navigation?

iOS and android are a bit different when it comes to the fullscreen mode so I'm afraid you'll have to solve it different for each platform.

Basically the `YouTubeStandaloneAndroid` can accomplish your needs in Android, in iOS you can do stuff a bit different

[2017-07-14 09:25] Dineshchitta commented on #191
@davidohayon669 I tried with YoutubeStandaloneAndroid but problem still exist. I tried debugging by putting another normal scene at that time there is no problem.

[2017-07-14 10:54] pallavisingh1511 commented on #167
@davidohayon669 Can you please share an example code for YouTubeStandaloneAndroid implementation? Also, does it work only on android?

[2017-07-14 12:45] davidohayon669 commented on #191
@Dineshchitta so what is the problem now?

[2017-07-14 12:48] davidohayon669 commented on #167
@pallavisingh1511 there is a README for a reason. [Standalone player](https://github.com/inProgress-team/react-native-youtube#standalone-player-available-only-for-android) is only for Android and it is launched with one method call

[2017-07-14 13:32] davidohayon669 commented on #192
@jariwalabhavesh is it like that for every video? Since the player loads correctly and even the name of the video is given, it seems unlikely to be related to this component. It's probably a problem with the inner YouTube iFrame player or the video itself

[2017-07-17 05:22] pallavisingh1511 commented on #167
Thanks for updating @davidohayon669 . The Standalone player is working as expected. Solved my purpose. Thanks :)

[2017-07-17 12:38] jariwalabhavesh commented on #192
@davidohayon669: Yes every video facing issue in ios only. In android it is working fine

[2017-07-18 12:18] jariwalabhavesh opened #194 "Is there any way to download video for offline purpose??"
I want to download video so that user can enjoy it when he/she is offline as well. Is there any way or any feature in player that allows us to download youtube videos in application private space??

[2017-07-18 13:55] lra-tapptic opened #195 "How to detect a press on the video?"
So I have the player with no controlers, autoplaying. I just want to detect when the user press the video in order to open another screen.

So for iOS, I had to put a transparent view with position: absolute on top of the video that can be wrapper in a TouchableWithoutOpacity e.g. That also prevent the play/pause behaviour when the user tap the video (even with no controls)

But for Android, I can

[2017-07-18 15:17] davidohayon669 commented on #194
I guess there are ways to pull the .mp4 file of videos from YouTube, anyway it has nothing to do with this implementation and I also guess is not official

[2017-07-18 15:17] #194 closed

[2017-07-18 15:20] davidohayon669 commented on #192
@jariwalabhavesh Don't know what to tell you.. try eliminating some factors to pinpoint the reason

[2017-07-18 15:22] davidohayon669 commented on #195
@lra-tapptic I guess it can be done in the native code.. I'll have to look at it

[2017-07-19 06:02] ishita-kothari commented on #74
Is there any updates or solution to solve this issue?

[2017-07-19 09:00] victor-axelsson commented on #153
I had the same issue. I logged `onError` and got a `Warning: Native component for "ReactYouTube" does not exist` error.

I **did** run the `react-native link` but it seems like it didn't fix all issues for me.

Im my `MainApplication` I needed to add the `ReactNativeYouTube` to the react packages list. I use the following versions (from my package.json):

[code]

And my MainApplication now looks l

[2017-07-19 18:16] jariwalabhavesh commented on #194
@davidohayon669
Thanks you for response

[2017-07-21 12:12] lnpquang opened #196 "How stop playing video when navigate to other screen"
Dear,
Could you please show How stop playing video when navigate to other screen?

Thanks.
Best regards,
LNPQuang

[2017-07-21 13:02] #196 closed

[2017-07-21 13:46] archansel opened #197 "Manual linking iOS"
I have existing iOS native app that use some RN view, I tried to install `react-native-youtube` and link it using `react-native link` and `rnpm link` but not working. I also tried linking it manually but not working too. Can anyone provide how to guide to link this library with existing native app? it would be better if I can use cocoapods

EDIT:
React version 16.0.0-alpha.12
React Native version

[2017-07-21 16:02] davidohayon669 commented on #197
Best thing I can suggest would be to copy this repo to your computer and then install and run `react-native-link` and `rnpm link` in the example app, and watch the diffs between the files in both stages.

Why didn't the linking commands work?

[2017-07-21 17:01] archansel commented on #197
I think it's because of the project structure, not sure though. I integrate existing native app with RN so I put RN source inside XCode project (not the other way around). Other libraries that required linking work just fine because they provide cocoapods way of linking the library

[2017-07-24 03:30] archansel commented on #197
I found workaround, this isn't answer my question but at least I make it work. I use podspec from this PR #142, it was merge before but removed again so I clone the repo to my local folder and add this podspec manually

[2017-07-24 08:22] archansel opened #198 "Status Bar missing after change orientation"
Hi, in my app and example app (iOS), everytime I change device orientation (in fullscreen) to landscape and back to portrait again, iOS status bar gone after I toogle the fullscreen (not in fullscreen). Is it bug? or I missed something

[2017-07-28 04:14] hasaezs opened #199 "How to get video duration on Android?"
Hi!

I need to get the total duration of a video and I'm not clear how to do it, without using Youtube Data API.

I was researching a bit and in the documentation of Youtube API Player is the method [getDurationMillis](https://developers.google.com/youtube/android/player/reference/com/google/android/youtube/player/YouTubePlayer#getDurationMillis()) but my implementation was not successful.

Is the

[2017-07-31 00:58] joncursi opened #200 "No Sound on iOS"
I'm on `1.0.0-beta.1` and I'm not getting any audio out of the videos that play. All of the controls work fine, the videos play fine, but no audio. I've tried on both the iOS simulator and physical iOS devices, no audio comes through. I'm positive my volume is cranked up.

Thoughts?

[2017-07-31 18:01] davidsamacoits commented on #198
Same issue here

[2017-07-31 18:28] davidohayon669 commented on #198
I'll take a look

[2017-07-31 18:30] davidohayon669 commented on #199
I'll handle it soon when I find some time

[2017-07-31 19:05] davidohayon669 commented on #197
@archansel I've just added the podspec from #142 and updated the npm package. I'm not familiar with pods so please check it and tell me if anything is missing

[2017-08-04 22:50] aashkafirst commented on #153
running command:
 react-native link react-native-youtube
works for me!!!
No need to make changes in any file manually, the above command links it...

[2017-08-05 00:22] willlaserlike opened #202 "How to reset when the video is out of screen"
I'm using the library together with listview. When a row with youtube video moves out of the screen, the video stops playing. But when I scroll back,  the control state and progress bar are not updated. They still show the playing state and time. I need to tap again to resume the playing.

I want the video component to reset itself when moved out of screen. Not remembering its state or taking any

[2017-08-05 09:12] jayprakash1 commented on #131
@wack17s i tried the above hack but youtube controls still don't appear sometimes.

[2017-08-05 11:08] aravindhkumar23 opened #203 "Render multiple YouTube videos"
Hi
   Is it possible to render multiple videos in FlatList in android ?
   i have checked the closed [issue](https://github.com/inProgress-team/react-native-youtube/issues/62), any workaround or fix the issue.

my scenario is render dynamic video in listview row.

i am using
- react native -0.44.2
- react-native-youtube -1.0.0-beta.1

[2017-08-06 19:43] davidohayon669 commented on #202
The iOS and Android versions acts different to being clipped inside a ScrollView (ListView).
Anyway this has to do more with react than this repo. If you want the component to reset when clipped I guess you should find a way to unmount it and mount again when shown.

Try to see what `removeClippedSubviews` prop do in the [ListView](https://facebook.github.io/react-native/docs/listview.html)

[2017-08-06 19:46] davidohayon669 commented on #203
What do you get when you try it?
The Android version cannot load a video in two component at the same time for the reasons in the issue

[2017-08-07 11:13] #197 closed

[2017-08-07 11:13] #192 closed

[2017-08-07 11:14] #191 closed

[2017-08-07 11:14] #148 closed

[2017-08-08 20:51] reergymerej commented on #158
https://stackoverflow.com/questions/44891650/how-to-play-youtube-videos-using-expo

[2017-08-10 05:57] ishita-kothari opened #205 "update youtube component"
Hello,
I am building the app with the flow as home -> video ->search -> video. When trying to play video from the search result, I am unable to play video. It stops after 1s. Youtube component is not updated immediately. Can anyone please help me?

thanks!

[2017-08-10 08:14] mayankbaiswar-CSE commented on #200
Activated sound when iPhone (iOS) is on vibrate mode

Open AppDelegate.m and add :

#import <AVFoundation/AVFoundation.h>

[[AVAudioSession sharedInstance] setCategory:AVAudioSessionCategoryPlayback error: nil]; in your didFinishLaunchingWithOptions method

[2017-08-10 08:23] nvdnvd00 opened #206 "didn't work?"
run app
-> react-native-youtube:compile release java with javac -> FAILED

[2017-08-10 19:03] davidohayon669 commented on #206
@nvdnvd00 I don't understand anything

[2017-08-10 19:04] davidohayon669 commented on #205
@ishita-kothari Any error coming from `onError`?

[2017-08-11 02:48] nvdnvd00 commented on #206
i don't know why T_T
https://www.flickr.com/photos/153584198@N03/?

[2017-08-11 04:26] nvdnvd00 commented on #206
my jdk version is 1.8
you know how to fix it?

[2017-08-11 07:59] xstable commented on #131
@davidohayon669 :
Same here today, if I use your example, there are no video-controls on startup.
If I toggle fullscreen and back to small screen, they appear.

Even with @wack17s workarround, there are no video-controls in the Video after startup.

[2017-08-11 16:00] davidohayon669 commented on #206
@nvdnvd00 Just upgraded the npm package to the latest with a support for this problem

`npm install react-native-youtube@latest -S`

[2017-08-12 04:23] nvdnvd00 commented on #206
thank you!

[2017-08-12 09:37] MrPeproni opened #207 "YouTubeStandaloneAndroid is messing up layout"
Hello,

I am using React-Native-Youtube in my app. I am getting issue related to layout because of this package.

When the video play in full screen by `YouTubeStandaloneAndroid` code. And when we come back to app. Layout is already messed up... may be because `YouTubeStandaloneAndroid` is using full screen and changing screen orientation.

Please help me to solve it. This is very annoying.
Thanks

[2017-08-12 10:25] #206 closed

[2017-08-15 00:54] hasaezs commented on #199
@davidohayon669 any news about this? I think it is necessary also on Android.

[2017-08-16 07:59] vasiliy-sarzhynskyi opened #208 "YouTube three dots menu does not work on Android"
Hello,

I display YouTube component in my app. If YouTube component not in fullScreen mode, android's three dots menu does not work for me (actually does not open Quality and Subtitles on/off menu). In fullScreen mode everything is fine.
I use RN version 0.45.1 and react-native-youtube 1.0.0-beta.3.

Thanks in advance

![screenshot 2](https://user-images.githubusercontent.com/22271138/29353287-624

[2017-08-17 12:43] wack17s commented on #198
hi, any progress with this?

[2017-08-17 20:30] vvavepacket opened #209 "Upload youtube video"
Does this package have the ability to upload youtube videos? Anyone tried? If not whats the best way to upload?

[2017-08-19 22:50] davidohayon669 commented on #209
No, we deal only with embedding videos

[2017-08-19 22:50] #209 closed

[2017-08-19 22:51] davidohayon669 commented on #208
When this happens, other controls still respond?

[2017-08-19 22:51] #200 closed

[2017-08-19 22:52] #82 closed

[2017-08-19 22:52] #111 closed

[2017-08-19 22:53] #121 closed

[2017-08-19 22:53] #132 closed

[2017-08-20 05:40] joncursi commented on #200
Thanks @mayankbaiswar-CSE !

[2017-08-20 12:35] davidohayon669 commented on #198
@archansel I could not reproduce what you explained. In the example app I always see the status bar trying every kind of sequence of full screen and rotation.

Can you be more specific?

[2017-08-20 15:57] davidohayon669 commented on #207
@aditya1027 Please be more descriptive and add screenshots if possible

[2017-08-20 16:03] davidohayon669 commented on #208
@vasiliy-sarzhynskyi Just checked... To be honest I'm not sure if it ever responded. Seems to me like an issue with the native component

[2017-08-20 17:10] davidohayon669 commented on #199
@hasaezs 8d579baf1f1b55293c38cc937a39b173d221352a next version

[2017-08-20 17:10] #199 closed

[2017-08-21 14:58] archansel commented on #198
@davidohayon669
![bug](https://user-images.githubusercontent.com/816817/29525064-bf6ed17a-86bb-11e7-845a-b22366bd6aeb.gif)

[2017-08-22 11:05] MrPeproni opened #210 "undefined is not an object "YouTubeStandaloneIOS""
Hello,

I am using YouTubeStandaloneIOS. Followed these steps `https://github.com/inProgress-team/react-native-youtube#standalone-player-ios` but no success.

I am using this:

[code]

My Podfile is:

[code]
Tried to use below url code but didn't get the YoutubeStandaloneIOS button.

https://github.com/inProgress-team/react-native-youtube/blob/master/example/RCTYouTubeExample.js

![screen shot 201

[2017-08-23 06:13] aditya1027 commented on #210
Now tried to use this code but didn't get the YoutubeStandaloneIOS button.

https://github.com/inProgress-team/react-native-youtube/blob/master/example/RCTYouTubeExample.js

![screen shot 2017-08-23 at 11 41 46 am](https://user-images.githubusercontent.com/25629063/29601258-34cca36a-87f8-11e7-959f-0658d37cde76.png)

[2017-08-23 06:16] aditya1027 commented on #210
@davidohayon669 Please look into this issue

[2017-08-23 19:26] davidohayon669 commented on #210
@aditya1027 Are you installing the pods?

[2017-08-24 05:08] aditya1027 commented on #210
@davidohayon669 somehow i have managed to make it working by deleting node_module folder and re-run npm install.

When i am using YoutubeStandaloneIOS... there is no loading icon when video is starting and it is just getting pause instead of showing loading icon when buffering.

[2017-08-24 09:22] davidohayon669 commented on #210
@MrPeproni The way this standalone module works depend on [XCDYouTubeKit](https://github.com/0xced/XCDYouTubeKit)

[2017-08-25 04:23] vvavepacket opened #211 "api key safe?"
Is our developer API key safe when we put it in this plugin and distribute to our clients? Can it be sniffed in the network requests or are there any risks involved?

[2017-08-25 12:21] davidohayon669 commented on #211
@vvavepacket In my experience this key isn't checked by Google right now. The Android component will work with any non-empty string as a key. I cannot tell you if it still works for large scale, but then again, large scale of what? How can they tell one app from the other which uses this component without a registered key?

As far as how this key is dealt with, and sent over the network, I guess y

[2017-08-25 12:22] #202 closed

[2017-08-25 12:23] #60 closed

[2017-08-25 12:25] #203 closed

[2017-08-26 07:25] zengxinzhy opened #212 "Need more player control methods: playVideo, pauseVideo, stopVideo"
Thanks much for the great work on react-native-youtube.
It works great for my project, but I found that I need more control of the video player, which are exposed by YouTube API: playVideo(), pauseVideo(), stopVideo()
https://developers.google.com/youtube/iframe_api_reference#playVideo

Thanks

[2017-08-27 14:17] davidohayon669 commented on #212
@zengxinzhy I intentionally don't implement these methods since one of React's strong concepts is declarative APIs. The `play` prop should handle playing/pausing state in the native component very concisely. If you need more control, you can always sync your state with the native state by listening to `onChangeState` like this:

[code]

(All other states are transitions between a playing and a pau

[2017-08-27 16:12] davidohayon669 commented on #127
@GedoonS https://www.theverge.com/2017/3/16/14953756/youtube-annotations-feature-discontinue-cards-end-screens

[2017-08-27 16:12] #127 closed

[2017-08-27 16:22] davidohayon669 commented on #106
@max-mykhailenko Since this is not a cross platform method (possible only on iOS), and I don't think is too important to be implemented only for iOS, I'll have to ignore this for now.

[2017-08-27 16:22] #106 closed

[2017-08-27 16:25] #40 closed

[2017-08-27 16:26] #167 closed

[2017-08-27 16:34] davidohayon669 commented on #173
@wellyshen Since this is not available on Android, and seems like too of a corner case to implement only for iOS, I think we'll have to pass on it. I believe the underlaying iFrame in the iOS component handles quality according to network connection.

[2017-08-27 16:34] #173 closed

[2017-08-27 18:41] davidohayon669 commented on #195
@lra-tapptic Looked at it and I'm afraid it's impossible to implement with the way we use this module with a [YouTubePlayerFragment](https://developers.google.com/youtube/android/player/reference/com/google/android/youtube/player/YouTubePlayerFragment) instead of [YouTubePlayerView](https://developers.google.com/youtube/android/player/reference/com/google/android/youtube/player/YouTubePlayerView)

[2017-08-27 18:48] #26 closed

[2017-08-27 19:31] #158 closed

[2017-08-28 10:12] teameh commented on #40
@davidohayon669 what's the reason this is closed? It's implemented or just that the PR was not active for a while?

[2017-08-28 10:39] davidohayon669 commented on #40
@teameh there is an `onChangeFullscreen` event now

[2017-08-28 10:50] teameh commented on #40
Awesome! Thanks a lot! 👍

[2017-08-29 08:05] simonvaucher commented on #198
Ah, yes. Probably some problem in React Native, not related to the package.
It happens when switching to fullscreen and THEN rotating. After rotation the status bar is gone.

My solution was to to listen to `onLayout` event and set the status bar as visible using `  StatusBar.setHidden(false);`

It looks a bit like this:
[code]

[2017-08-30 04:22] zengxinzhy commented on #212
@davidohayon669 Thanks much for the quick reply, the solution you suggested works well for my project.

BTW, I saw we currently don't have any control on playback rate:
https://developers.google.com/youtube/iframe_api_reference#Playback_rate

Do you think we can add it? If so, I'll work on it and submit a pull request.

Thanks

[2017-08-30 10:46] davidohayon669 commented on #212
@zengxinzhy these features are available only on the iOS. I think implementing them will be a bit of an overkill for a component that is meant to be as universal as possible. I'm not sure if there is any demand for these pretty specific methods, but maybe I'm wrong. Do you need to control playback rate in your project?

[2017-08-31 01:56] hasaezs commented on #212
@davidohayon669 when player state change to `stopped`

[2017-08-31 12:02] vasiliy-sarzhynskyi commented on #208
@davidohayon669, other controls work fine.
Android's three dots menu always does not work for non fullScreen mode.

[2017-09-01 13:26] mdrbohlav opened #213 "[iOS] The bigger size the bigger borders are added"
The bigger size set to the video the bigger borders appear, grey at the top, black at the sides. There should be no borders at all.

![simulator screen shot - iphone 7 plus - 2017-09-01 at 15 24 30](https://user-images.githubusercontent.com/7562302/29971740-ad311628-8f29-11e7-8708-0f1f9d7b9df0.png)

ReactNative: 0.47.1
React-Native-YouTube: 1.0.0-beta.3
iOS: 11 dev beta 9

[2017-09-01 17:14] davidohayon669 commented on #213
@mdrbohlav what size of screen is it?

[2017-09-01 17:16] davidohayon669 commented on #212
@hasaezs is your local state synced with the native state? you can try `play={false}` and then `true` again after a few milliseconds

[2017-09-01 17:23] mdrbohlav commented on #213
It’s iPhone 7 Plus

[2017-09-01 17:25] davidohayon669 commented on #213
@mdrbohlav can you capture the whole screen?

[2017-09-01 17:27] davidohayon669 commented on #208
@vasiliy-sarzhynskyi I have no idea why

[2017-09-01 17:28] mdrbohlav commented on #213
This is the whole screen in landscape. I can capture a video how the borders change when resizing the video.

[2017-09-01 17:29] davidohayon669 commented on #213
@mdrbohlav that might also help

[2017-09-01 17:48] mdrbohlav commented on #213
![2017-09-01 19 46 31](https://user-images.githubusercontent.com/7562302/29981574-67c25014-8f4e-11e7-89b0-59e1b36ba93b.gif)

[2017-09-01 21:52] davidohayon669 commented on #213
@mdrbohlav Is it like that with every video? It seems like you somehow reached a maximum physical size of the video resolution. I would try some higher-def videos. There is also a method to change that quality of video in the native component but we haven't implemented that yet

[2017-09-05 08:05] tirrorex commented on #34
@Mokto Hi, if you have some updates on that I would appreciate it, as the only reason i want to use this framework in the first place is to read vevo videos

[2017-09-05 08:40] tirrorex commented on #131
Is there a fix for this?
I encounter the same issue, if fullscren == true then controls will show up in both fullscreen and inline mode when user exit fullscreen however i cannot get them to show up if video launches inline

[2017-09-05 11:29] mdrbohlav commented on #213
Yes, the resolution of the video is 'only' full hd but it should fit the whole screen anyway. When I rotate the screen to the portrait and back it looks good sometimes.

[2017-09-05 17:49] davidohayon669 commented on #34
@tirrorex Vevo videos are unplayable with this component

[2017-09-05 17:51] davidohayon669 commented on #213
@mdrbohlav can you somehow reproduce this behavior on the example app or a modification of it in a fork?

[2017-09-06 07:22] tirrorex commented on #34
@davidohayon669 tried it yesterday and they play actually.

[2017-09-06 08:57] mdrbohlav commented on #213
I can try but I found the core of the problem.
I have top navigation bar visible in my app but when the video starts it hides. The video is rendered under the navigation bar (it is transparent) but for some reason when the bar is visible while the video gets ready the grey border is rendered under the navigation bar. When the video is rendered while the navigation bar is already hidden everything

[2017-09-06 09:15] martinchristov commented on #153
@victor-axelsson your solution works! But you forgot to mention you need to include at the top of MainApplication.java:

    import com.inprogress.reactnativeyoutube.ReactNativeYouTube;

Thanks <3

[2017-09-06 10:15] davidohayon669 commented on #34
@tirrorex It all depends on the underlying module https://github.com/youtube/youtube-ios-player-helper

[2017-09-06 10:16] tirrorex commented on #34
@davidohayon669 I'm talking about android mate, for ios we have an app in swift ;)

[2017-09-06 10:17] davidohayon669 commented on #34
@tirrorex AFAIK there was never a problem playing vevo videos on the Android version

[2017-09-07 09:00] davidohayon669 commented on #213
@mdrbohlav So did you solve the problem?

[2017-09-07 19:49] MrLoh opened #214 "onChangeFullscreen event different on android and ios"
there is a typo in the `onChangeFullscreen` handler. On iOS the event contains the paremeter `isFullScreen` and on android it is names `e.isFullscreen` (without capital S). This is very confusing.

[2017-09-08 04:39] sidd123456 opened #215 "video gets paused after starting"

[2017-09-08 06:34] mdrbohlav commented on #213
Well, not yet. I just found why the border appears. It is like the content of the scrollview inside the webview could not be initially rendered under the navigation bar.

[2017-09-09 10:29] #211 closed

[2017-09-09 10:29] #207 closed

[2017-09-09 10:29] #205 closed

[2017-09-09 10:30] #198 closed

[2017-09-09 10:31] davidohayon669 commented on #214
@MrLoh Could not discover the error. They are both `isFullscreen`

[2017-09-09 10:33] davidohayon669 commented on #213
@mdrbohlav It seems like a very specific issue with the kind of components you use. I'll close this issue for now, If you discover anything helpful please share

[2017-09-09 10:33] #213 closed

[2017-09-09 10:34] davidohayon669 commented on #215
@sidd123456 need more details

[2017-09-11 08:33] ethan605 opened #216 "No audio when using AVAudioSessionCategoryAmbient category"
Hi, in our app, we're using both [`react-native-video`](https://github.com/react-native-community/react-native-video) and `react-native-youtube`. The point is, Youtube playing is not a main function, that means we don't want to interrupt user's current music playing experience. So we set this in `application:didFinishLaunchingWithOptions` to deal with `react-native-video`:

[code]

So user can kee

[2017-09-11 08:55] MrLoh opened #217 "android stuck in landscape mode after exiting with back button"
As reported before an android app is stuck in landscape mode after exiting a fullscreen player with the back button, this is a pretty big issue obviously, so I'm opening a new one here since the old ones were closed. It seems there was a PR #133 forthcoming that never got ready. I'll look into it and possibly provide a new PR.

[2017-09-11 09:27] #214 closed

[2017-09-11 10:30] davidohayon669 commented on #217
@MrLoh As far as I remember I fixed it somewhere down the road. I just tested on the example app and It looked fine for me. Can you be more specific about the behavior you describe?

[2017-09-11 10:51] MrLoh commented on #217
yes, it seems to be fixed now. I'm very confused as to why it was broken before, but I just reloaded the app for the 101th time and it was working. Sometimes React Native is a mysterie to me. Thanks for the awesome YouTube Component.

[2017-09-11 10:51] #217 closed

[2017-09-12 07:43] tikkichan4 commented on #215
I got the same problem.
After clicking the play button / change the play state, the player will start playing 1-2 seconds and just freezed.

[2017-09-12 11:07] davidohayon669 commented on #215
@tikkichan4  do you get anything from `onError`?

[2017-09-12 16:19] mdrbohlav commented on #213
For everyone who encounters this - it is caused because of the iOS 11 changes, `automaticallyAdjustsScrollViewInsets` was deprecated, you have to use `contentInsetAdjustmentBehavior` - [like I did](https://github.com/mdrbohlav/react-native-youtube/commit/aa62d02b4b00e326b84f3f4f9b12dd0fc9ef8f8e)

[2017-09-14 05:12] martinchristov commented on #215
+1.
onError output: {target: 304, error: "UNAUTHORIZED_OVERLAY"}

[2017-09-14 09:29] davidohayon669 commented on #215
@martinchristov On Android, the player view shouldn't be covered with any other view
https://github.com/inProgress-team/react-native-youtube#unauthorized_overlay-and-player_view_too_small-on-android
#161

[2017-09-14 09:33] davidohayon669 commented on #213
@mdrbohlav can you make a pull request?

[2017-09-15 13:12] martinchristov commented on #215
@salmankhann you can simply do this:

	{(Platform.OS !== 'ios') &&
		<WebView
			style={{ alignSelf: 'stretch' }}
			source={{uri: `https://www.youtube.com/embed/${this.state.youtubeID}?controls=1&showinfo=0`}}
		/>
	}

I had no more time to put into it, so this is what I did.

[2017-09-15 13:22] salmankhann commented on #215
But you're suggesting to do this without using this component right ?

Sent from my iPhone

On Sep 15, 2017, at 5:12 PM, Martin Christov <notifications@github.com<mailto:notifications@github.com>> wrote:

@salmankhann<https://github.com/salmankhann> you can simply do this:

{(Platform.OS !== 'ios') &&
        <WebView
                style={{ alignSelf: 'stretch' }}
                source={{uri: `

[2017-09-15 13:22] salmankhann commented on #215
To be clear though, this library used to work with me but something broke it and now it just pauses automatically only the first time you play. Works perfectly every time after that. Also to add, I'm playing in full screen only and not inline

Sent from my iPhone

On Sep 15, 2017, at 5:12 PM, Martin Christov <notifications@github.com<mailto:notifications@github.com>> wrote:

@salmankhann<https://g

[2017-09-15 13:57] martinchristov commented on #215
In that case you'll have to figure it out, because the webview doesn't have fullscreen :)
let me know if you do...

[2017-09-30 05:00] hasaezs commented on #212
@davidohayon669 Here is the code for my component, so I use it for the moment. But it continues to happen when the state changes to `stopped`

[code]

[2017-10-02 16:45] serialbandicoot opened #219 "Setting songs playing position periodically on a slider"
I've added a slider in order to move through a track, however I wanted to know if there is a callback method, which is periodically called so that I can set the slider to the current track position.

I can see the onProgress state already gets the values I need, its just how I can periodically update the slider.

Do I need to create my own timer function and set the slider value?

e.g: progress =

[2017-10-02 20:56] davidohayon669 commented on #219
@serialbandicoot on iOS this parameter is delivered with `onProgress` (I think every 500ms), with Android you'll have to call `currentTime()` periodically

[2017-10-03 14:14] djpane commented on #109
I was looking for a feature like this and then I noticed that after updating iOS to 11 I can rotate the video in fullscreen mode without the need of react-native-orientation or any other custom setup. Which is nice.

[2017-10-03 19:35] serialbandicoot commented on #219
Thanks @davidohayon669 - that's perfect!...I used the following on the YouTube element.

`onProgress={ e => this.getProgress(e)  }`

[code]

[code]

[2017-10-03 19:35] #219 closed

[2017-10-04 22:00] joncursi opened #220 "[Android] Issues with 2 Videos on same screen"
If you put two youtube videos on the same screen on Android:

[code]

The first video instance (should render video for `abc`) will actually render the video for the second instance (`def`). So you get two `def` videos on the same screen.

When you try to play one of them, it tries to play both because they are the same videoID, I assume.

So:

1. Incorrect videoId for the first video instance
2.

[2017-10-06 11:05] technextest opened #222 "When application is minimized while playing video the video gets stopped. How resume the video when app is again in foreground"
I have set controls to zero and I have tested example app of this repository. On android when application is minimized while playing video the video gets stopped. And I need to resume the video when app is again in foreground. Please let me know if it is possible.

[2017-10-06 17:15] davidohayon669 commented on #220
@jon Always read the [manual](https://github.com/inProgress-team/react-native-youtube#multiple-youtube--instances-on-android)

[2017-10-06 17:21] davidohayon669 commented on #215
@salmankhann can you provide more details? like exact props you pass to the component, stuff coming from onChangeState / onError or can you recreate this problem with the example app?

[2017-10-07 07:38] joncursi commented on #220
Thanks, I'll close this down since it's captured in the README.

[2017-10-07 07:38] #220 closed

[2017-10-10 18:35] stantoncbradley opened #224 "controls props doesn't change controls (iOS)"
Settings `controls` to 0 doesn't have any noticeable effect on iOS.  Does anyone else have this issue?

"react": "16.0.0-alpha.12",
"react-native": "0.47.1",
"react-native-youtube": "^1.0.0-beta.3",

[2017-10-10 19:42] SpecialDOS opened #225 "in fullscreen mode when fullscreen button is clicked the video disappears forever"
When using the video player with fullscreen={true}, if the fullscreen button in the bottom control bar is clicked, the video disappears and pauses as expected, however I cannot see a way to bring it back visible again. This is new in version 1.0.0, in the previous 0.8.x version I could set play={false} when the video exited fullscreen, and then setting play={true} again would bring the video back

[2017-10-11 14:32] karan101292 commented on #161
any update on this?

[2017-10-14 15:55] MrLoh opened #226 "android crashes trying to update fullscreen on released player"
I keep getting errors like this on android:

![screenshot_20171014-172925](https://user-images.githubusercontent.com/1285032/31577105-6268aa74-b0d6-11e7-953f-b9f04f86f9a9.png)

It might be my specific setup, but it's really hard to fix those errors. It would be best if the library would have some checks to prevent trying to update released players, so one doesn't have to worry about thos implement

[2017-10-15 20:57] davidohayon669 commented on #161
@karan101292 This issue is not fully addressable. There is no way to cover the native component without making the video stop. If you have any problem that you think shouldn't occur please describe it more specifically

[2017-10-15 21:50] davidohayon669 commented on #224
@stantoncbradley Can you provide a screenshot?

[2017-10-16 04:07] wayne1203 opened #227 "Handle "SERVICE_MISSING" by self"
I placed "YouTube" View in ListView, I found that error alert will show when renderRow but it's annoying . Can I override the alert and handle it by my self?

[2017-10-16 09:12] davidohayon669 commented on #227
@wayne1203 I'm not sure I understand. "SERVICE_MISSING" supposed to be an internal error of the native nodule when there is no YouTube app installed on the device. What does it got to do with ListView?

[2017-10-16 09:15] wayne1203 commented on #227
Sorry for my bad English.
In other word, can I remove the alert of "this app won't run without the youtube app which is missing from your device"?

[2017-10-16 09:25] davidohayon669 commented on #227
@wayne1203 I don't think this component is that complicated to allow for selective error logging

[2017-10-16 09:32] davidohayon669 commented on #225
@SpecialDOS iOS or Android?

[2017-10-16 15:57] serialbandicoot opened #228 "Cannot get videosIndex value from Promise - IOS"
Inside getProgress(e), I'm calling const vId = this._youTubeRef.videosIndex();

However the Promise is returning the following and I can't figure out how to extract the actual index.

[code]

I know that _55 is storing the Index Value as I can move through the track index and it changes as I change the current played track.

I just don't know how to get to it!...

I've tried all sorts of ways to g